---
layout: portfolio
title: Верстка сайта документации по использованию Gulp сборки
date: 2023-08-30 10:39 +0600
description: Техническая документация по разворачиванию, использованию и дальнейшей поддержки <b>Gulp</b> сборки.
image: cover.jpg
alt: Документации по использованию Gulp сборки
work-year: 2023
roles: [дизайн, верстка, контент]
tags: [gulp, pug, scss, webpack, svg]
source: https://eliofery.github.io/gulp-template-docs
published: true
sitemap: false
excerpt_separator: "<!--more-->"
---

<p>Техническая документация по разворачиванию, использованию и дальнейшей поддержки <b>Gulp</b> сборки.</p>

<!--more-->

<h2><span class="attention">Оглавление</span> статьи</h2>

<ol>
  <li><a href="#intro">Описание проекта</a></li>
  <li><a href="#feature">Функционал проекта</a></li>
  <li><a href="#total">Итоги проекта</a></li>
</ol>

<h2 id="intro"><span class="attention">Описание</span> проекта</h2>

<p>Основная идея заключалась в создании технической документации, с описанием по работе с <b>Gulp</b> сборкой, которая была создана в рамках <a href="{{ site.baseurl }}/blog/2023-08-29-mnogofunkcionalnaya-gulp-sborka-dlya-produktivnoj-verstki-s-ispolzovaniem-pug-shablonizatora-frontend.html" target="_blank">этой статьи</a>. Сам проект был реализован с использованием этой же <b>Gulp</b> сборки.</p>

<h2 id="feature"><span class="attention">Функционал</span> проекта</h2>

<h3>Highlight code</h3>

<p>Компонент <b>Highlight code</b>, позволяющий отображать на странице отформатированный код с возможностью копирования его по нажатию по специальной кнопке и дальнейшим его использованием.</p>

<figure>
  {% include component/picture.html fancybox='true' slug=page.slug img='img-1.jpg' type='original' alt='Компонент Highlight code' %}
  <figcaption>Компонент <b>Highlight code</b>.</figcaption>
</figure>

<h3>Оглавление и Справочник терминов</h3>

<p>Важная часть любой документации это навигация внутри статей. В рамках проекта было реализовано <b>Оглавление</b>, которое позволяет с первого взгляда ознакомиться с содержимым страницы и быстро перейти к нужной подтеме.</p>

<figure>
  {% include component/picture.html fancybox='true' slug=page.slug img='img-2.jpg' type='original' alt='Оглавление страницы' %}
  <figcaption>В рамках проекта было реализовано <b>Оглавление</b>.</figcaption>
</figure>

<p>Так же была добавлена страница со <b>Справочником терминов</b>, который служит дополнением к базовому описанию документации.</p>

<figure>
  {% include component/picture.html fancybox='true' slug=page.slug img='img-3.jpg' type='original' alt='Справочник терминов' %}
  <figcaption>Так же была добавлена страница со <b>Справочником терминов</b>.</figcaption>
</figure>

<h3>Описание компонентов</h3>

<p>Главной особенностью проекта является возможность <b>визуализировать компонент</b> на экране пользователя. С приведением примеров как компонент может быть использован в коде. Что позволяет освежить память по использованию и работе с компонентами, а так же быстро познакомиться с ними не открывая исходный код.</p>

<figure>
  {% include component/picture.html fancybox='true' slug=page.slug img='img-4.jpg' type='original' alt='Страница подробного описания компонента' %}
  <figcaption>Главной особенностью проекта является возможность визуализировать компонент на экране пользователя.</figcaption>
</figure>

<h3>Навигационное меню</h3>

<p>Главное навигационное меню умеет запоминать открыт или закрыт пункт меню, что позволяет пользователю при использовании сайта не разворачивать каждый раз пункты меню в ручную, при переходе по страницам документации.</p>

<figure>
  {% include component/picture.html fancybox='true' slug=page.slug img='img-5.jpg' type='original' alt='Главное навигационное меню' %}
  <figcaption>Главное навигационное меню умеет запоминать открыт или закрыт пункт меню.</figcaption>
</figure>

<h2 id="total"><span class="attention">Итоги</span> проекта</h2>

<p>Работа была выполнена в рампах <b>Пет проекта</b>. При верстке сайта параллельно была протестирована <a href="{{ site.baseurl }}/blog/2023-08-29-mnogofunkcionalnaya-gulp-sborka-dlya-produktivnoj-verstki-s-ispolzovaniem-pug-shablonizatora-frontend.html" target="_blank">Gulp сборка</a>, что позволило исправить найденные ошибки и дополнить/улучшить некоторый функционал.</p>

<h3>Ссылки на проект</h3>

<ul>
  <li><a href="https://github.com/eliofery/gulp-template-docs" target="_blank" rel="nofollow">Исходный код</a></li>
  <li><a href="https://eliofery.github.io/gulp-template-docs/" target="_blank" rel="nofollow">Страница проекта</a></li>
</ul>









