{% capture image %}images/{{ include.type | default: 'original' }}/{{ site.time | date: '%Y' }}/{{ site.time | date: '%m' }}/{{ include.slug }}/{{ include.img }}{% endcapture %}
{% assign webp = image | replace:'.png','.webp' | replace:'.jpg','.webp' | replace:'.jpeg','.webp' %}
{% capture size %}{% imagesize image:props %}{% endcapture %}

<a href="{{ image | relative_url }}" data-fancybox>
  <picture>
    <source srcset="{{ webp | relative_url }}" type="image/webp">
    <img src="{{ image | relative_url }}" {{ size }} alt="{{ include.alt | default: '' }}" loading="lazy">
  </picture>
</a>
