<script src="{{ '/assets/js/Search.js?v=' | relative_url }}{{ site.version }}"></script>
<script>
  const searchJson = `[
    {% for post in site.posts %}
      {
        "title"           : "{% if post.title != "" %}{{ post.title | strip_html | escape }}{% else %}{{ post.excerpt | strip_html | escape | strip }}{%endif%}",
        "tags"            : "{{ post.tags | join: ', ' }}",
        "url"             : "{{ site.baseurl }}{{ post.url }}",
        "date"            : "{{ post.date | date: '%d.%m.%Y' | default: '' }}",
        "description"     : "{{ post.description | default: '' }}"
      },
    {% endfor %}
    {% for post in site.portfolio %}
      {
        "title"           : "{% if post.title != "" %}{{ post.title | strip_html | escape }}{% else %}{{ post.excerpt | strip_html | escape | strip }}{%endif%}",
        "tags"            : "{{ post.tags | join: ', ' }}",
        "url"             : "{{ site.baseurl }}{{ post.url }}",
        "date"            : "{{ post.date | date: '%d.%m.%Y' | default: '' }}",
        "description"     : "{{ post.description | default: '' }}"
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]`

  new Search(searchJson)
</script>
