<div class="{{ include.class | default: '' }} likely" data-el="likely">
  <div class="telegram" role="link" aria-label="Поделиться через Телеграм">Поделиться</div>
  <div class="linkedin" role="link" aria-label="Поделиться через Linkedin"></div>
  <div class="whatsapp" role="link" aria-label="Поделиться через Whatsapp"></div>
  <div class="vkontakte" role="link" aria-label="Поделиться через Вконтакте"></div>
  <div class="twitter" role="link" aria-label="Поделиться через Twitter"></div>
  <div class="facebook" role="link" aria-label="Поделиться через Facebook"></div>
</div>
