---
layout: post
title: Настройка PhpStorm
date: 2023-08-26 12:44 +0600
description: Настроим <b>PhpStorm</b> внесем базовые настройки, разберемся с горячими клавишами, установим расширения, добавим пользовательские сниппиты, в общем приведем IDE в рабочий режим.
image: cover.jpg
alt: Настройка PhpStorm
category: other
tags: [phpstorm, ide, сниппеты, плагины, горячие клавиши]
published: true
sitemap: true
excerpt_separator: "<!--more-->"
---

<p>Настроим <b>PhpStorm</b> внесем базовые настройки, разберемся с горячими клавишами, установим расширения, добавим пользовательские сниппиты, в общем приведем IDE в рабочий режим.</p>

<!--more-->

<h2><span class="attention">Вводная</span> информация</h2>

<p>В <a href="{{ site.baseurl }}/blog/2023-08-24-linux-dlya-nachinayushhih-chast-3-soft-dlya-povsednevnyh-zadach-devops" target="_blank">серии статей</a> по работе и настройке дистрибутива <b>Pop!_OS</b> был установлен ряд программ, в числе которых была <b>IDE</b> <b>PhpStorm</b>. В этой статье мы настроим его для дальнейшего использования.</p>

<p>Я покажу вам какие обычно плагины использую в своей работе с <b>PhpStorm</b>, какие настройки изменяю
  и какие горячие клавиши использую.</p>

<h2><span class="attention">Базовая</span> настройка PhpStorm</h2>

<p>Первым делом зададим базовые настройки редактору <b>PhpStorm</b>. Нажмем на горячие клавиши <kbd>Ctrl + Alt + S</kbd>.
  Откроется окно с настройками, чтобы быстро найти интересующую нас настройку вводим в поле поиска ключевое слово.</p>

<h3>GitHub</h3>

<p>В поле поиска вводим слово <b>github</b> и в разделе <b>Version Control → GitHub</b> добавляем наш аккаунт, нажав на
  <b>+</b>. Выберем пункт <b>Login in with Token</b>. Нажмем на кнопку <b>Generate</b> и нас перекинет в бразер на
  страницу <b>GitHub</b> в раздел где создается <b>Token</b>. Прокручиваем ползунок ниже и нажимаем <b>Generate
    token</b>.</p>

<p>Копируем созданный <b>Token</b> и вставляем в поле <b>Token</b> в <b>PhpStorm</b>. Жмем кнопку <b>Add Account</b>.
  Это позволит нам в дальнейшем взаимодействовать с сайтом <b>GitHub</b>. Например: получать, создавать <b>Gist</b> и
  т.п.</p>

<hr>

<h3>Ligatures</h3>

<p>В поле поиска вводим слово <b>Enabled Ligatures</b> и отмечаем пункт <b>Enable ligatures</b>.</p>

<p>Эта настройка сделает более читабельными некоторые специфичные для программирования символы, например <b>=></b>.</p>

<hr>

<h3>Шрифты</h3>

<p>В поле поиска вводим слово <b>Use Custom Fonts</b> и в разделе <b>Appearence</b> активируем пункт <b>Use Custom
  Fonts</b>, изменяем размер шрифта на 14.</p>

<p>В поле поиска вводим слово <b>Color Scheme Fonts</b>.<br> В параметре <b>Font</b> изменим значение на <b>DejaVu Sans
  Mono</b>.<br> В параметре <b>Size</b> изменим значение на <b>15</b>.</p>

<hr>

<h3>PSR12</h3>

<p>В поле поиска вводим слово <b>Php</b> и в разделе <b>Code Style</b> нажмем на ссылку <b>Set from</b> и выберем <b>PSR12</b>.
</p>

<p>Это позволит автоматически форматировать <b>php</b> код согласно стандарту <b>PSR12</b>.</p>

<hr>

<h3>Сохранение файла</h3>

<p>В поле поиска вводим слово <b>Actions save</b> и в таблице отмечаем пункты <b>Reformat Code</b> и <b>Optimize
  Import</b>.</p>

<p><b>Optimize Import</b> позволяет при сохранении файла автоматически удалять не используемые <b>import</b>.</p>

<p>В поле поиска вводим слово <b>System settings</b> и в разделе <b>Appearence → System settings</b> отмечаем пункт
  <b>Save files if the IDE is idle for</b> и ставим <b>10 секунд</b>. Это позволит сохранять документ автоматически
  после простоя без действия равное <b>10 секунд</b>.</p>

<hr>

<h3>Преднастройка файлов PHP</h3>

<p>В поле поиска вводим слово <b>File and code Templates</b>, в вкладке <b>Files</b> нажимаем на <b>PHP Class</b> и
  добавляем к конструкции <b>class</b> слово <b>final</b>, чтобы все создаваемые классы были по умолчанию завершенными.
</p>

{% capture code %}
&lt;?php
#parse("PHP File Header.php")

#if (${NAMESPACE})
namespace ${NAMESPACE};

#end
final class ${NAME} {

}
{% endcapture %}
{% include component/code.html lang='php' content=code %}

<p> Теперь перейдем во вкладку <b>Includes</b> выберем <b>PHP File Header</b> и добавим в него следующее содержимое.</p>

{% capture code %}
declare(strict_types=1);

{% endcapture %}
{% include component/code.html lang='php' content=code %}

<p>Для того чтобы все файлы при создании были строго типизированными.</p>

<hr>

<h3>Не известные переменные</h3>

<p>В поле поиска вводим слово <b>Undefined Symbols</b> находим параметр <b>Undefined variable</b> и в его настройках
  <b>Options</b> активируем параметр <b>Search for variable’s definition outside the current file</b>.</p>

<p>Поиск переменной не только в текущем файле, но и во всех файлах проекта. Это может быть очень полезно при работе с
  большими проектами, где переменные могут быть определены в разных частях кода или даже в разных файлах.</p>

<hr>

<h3>Помечаем директории</h3>

<p><b>PhpStorm</b> позволяет помечать каталоги по-особенному, чтобы указать <b>IDE</b> как его обрабатывать, например можно исключить каталог из индексации.</p>

<p>В поле поиска вводим слово <b>Directories</b> выбираем нужный каталог и отмечаем его одним из доступных вариантов <b>Test</b>, <b>Sources</b>, <b>Excluded</b>, <b>Resource Root</b>.</p>

<p><b>Test</b> - представляют собой файлы тестов, такие как unit- и integration-тесты, которые предназначены для проверки работоспособности вашего кода.</p>

<p><b>Sources</b> - представляют собой основной код вашего проекта.</p>

<p><b>Excluded</b> - представляют собой исключенные директории, которые не являются частью вашего проекта или не требуют обработки <b>PHPStorm</b>.</p>

<p><b>Resource Root</b> - представляют собой ресурсы, такие как шаблоны, изображения, стили и другие файлы, которые могут использоваться в вашем проекте. Эти файлы обычно используются, но не подлежат обработке <b>PHPStorm</b>.</p>

<h2><span class="attention">Переопределение</span> горячих клавиш PhpStorm</h2>

<p>Меня не совсем устраивают стандартные горячие клавиши в <b>PhpStorm</b>, они несколько отличаются от горячих клавиш <b>VSCode</b>, к которым я привык. Приведем их в привычный вид, для этого откроем настройки <kbd>Ctrl + Alt + S</kbd> и перейдем в раздел <b>Keymap</b>.</p>

<h3>Перенос строк Soft-wrap</h3>

<p>В поле поиска вводим слово <b>Soft-wrap</b> и добавляем горячие клавиши <kbd>Alt + Z</kbd>.</p>

<hr>

<h3>Переключение между проектами</h3>

<p>В поле поиска вводим слово <b>manage projects</b> и добавляем горячие клавиши <kbd>Alt + P</kbd>.</p>

<hr>

<h3>Меню Git</h3>

<p>В поле поиска вводим слово <b>vcs operations</b> и добавляем горячие клавиши <kbd>Ctrl + Alt + G</kbd>.</p>

<hr>

<h3>Выделение похожего текста</h3>

<p>В поле поиска вводим слово <b>add selection to next find match</b> и изменяем горячие клавиши <kbd>Ctrl + D</kbd> на
  <kbd>Alt + J</kbd>.</p>

<h2><span class="attention">Интересные</span> фичи</h2>

<p><b>PhpStorm</b> многогранен каждый раз открываешь для себя что-то новое. В этом разделе я поделюсь интересными
  особенностями.</p>

<p>Нажмем клавишу <kbd>Shift</kbd> пару раз и появится окно поиска по всему проекту. Здесь можно искать как отдельные
  файлы проекта так и определенные функции, классы и т.п., а так же различные настройки.</p>

<h3>Минималистичный вид</h3>

<p>В поле поиска вводим слово <b>Free mode</b> и нажмем на пункт <b>Enter Distraction Free Mode</b>. Этот пункт позволит
  минимизировать интерфейс <b>PhpStorm</b> и сконцентрироваться на коде. Выйти из <b>Free mode</b> можно аналогичным
  путем, выбрав <b>Exit Distraction Free Mode</b>.</p>

<hr>

<h3>Отображение номера строк</h3>

<p>В поле поиска вводим слово <b>Show line number</b> и переключим одноименный пункт со страницы должны пропасть номера
  строк, для любителей минимализма.</p>

<hr>

<h3>Переключение на каталог активной вкладки</h3>

<p>В поле поиска вводим слово <b>Always Select Opened File</b> и переключим одноименный пункт, теперь при переключении
  между открытыми вкладками не будет происходить переключение в дереве каталогов к каталогу, хранящему файл, выбранной
  вкладки.</p>

<p>Напоминаю что вернуть изначальные настройки пункта можно тем же способом, просто нажмите на пункт еще раз, чтобы он
  переключил свое состояние.</p>

<hr>

<h3>Безопасный режим</h3>

<p>Режим при котором <b>PhpStorm</b> перестает автоматически индексировать и проверять файлы. Тем самым нагружая меньше <b>ПК</b>.</p>

<p>Чтобы включить/отключить этот режим нажмем два раза <kbd>Shift</kbd> и введем слово <b>Save mode</b> выберем пункт <b>Show Power Save Mode.</b></p>

<hr>

<h3>История изменения файлов</h3>

<p>В <b>PhpStorm</b> есть свой мини репозиторий который хранит изменения в файлах. И если есть надобность откатиться на несколько сохранений назад, то удобно им воспользоваться.</p>

<p>Для этого нажимаем <b>Правой кнопкой мыши</b> по файлу который хотим откатить и выбираем пункт в выпадающем меню <b>Local History → Show History</b>. Далее ищем нужную версию и восстанавливаем ее.</p>

<hr>

<h3>TODO лист</h3>

<p>В <b>PhpStorm</b> если в комментарии написать слово <b>todo</b> то строка с этим кодом попадет в специальный раздел <b>TODO</b>. В который можно перейти нажав горячие клавиши <kbd>Ctrl + Tab O</kbd></p>

<p>Там же в настройках раздела <b>TODO</b> можно создать пользовательсие фильтры, для фильтрации по определенным типам <b>todo</b>, например <b>todo-front, todo-back</b>.</p>

<p>Удобно использовать для того, чтобы пометить область кода, которая требует доработки.</p>

<h2><span class="attention">Установка</span> плагинов PhpStorm</h2>

<p>Надеюсь, что данный пример послужит вектором для подборки собственных расширений, направленных на решения именно
  ваших потребностей.</p>

<p>Для того чтобы установить плагин, нажмем горячие клавиши <kbd>Ctrl + Shift + S</kbd>. В появившемся окне настроек
  перейдем в раздел <b>Plugins</b>, переключимся на вкладку <b>Marketplace</b> и в поле поиск вводим название нужного
  плагина и устанавливаем его. Некоторые плагины начинают работать только после перезагрузки <b>PhpStorm</b>.</p>

<h3>Gist snippet</h3>

<p>Получение пользовательских наработок кода из <b>Gist GitHub</b>.</p>

<hr>

<h3>CodeGlance Pro</h3>

<p>Мини карта кода, полезна для быстрого перехода к нужной части страницы.</p>

<hr>

<h3>Scratch</h3>

<p>Позволяет добавлять заметки.<p>
<p>Горячие клавиши для создания заметок <kbd>Alt + C</kbd>, <kbd>Alt + A</kbd>.<br> Горячие клавиши для выбора заметок
  <kbd>Alt + C</kbd>, <kbd>Alt + S</kbd></p>

<hr>

<h3>Cyan Theme Light</h3>

<p>Светлая тема.</p>

<p>Чтобы сменить тему, перейдем в настройки, в раздел <b>Appearance</b> и изменим тему в выпадающем меню <b>Theme</b>.
</p>

<hr>

<h3>Env file supports</h3>

<p>Поддержка env типа.</p>

<h2><span class="attention">Создание</span> сниппетов в PhpStorm</h2>

<p>сниппеты являются очень полезной функциональностью, которая позволяет создавать свои коротки наименования и
  разворачивать их в большие конструкции кода.</p>

<p>Чтобы создать сниппет в <b>PhpStorm</b> перейдем в настройки <kbd>Ctrl + Alt + S</kbd> зайдем в раздел <b>Editor →
  Live Templates</b>. Выберем категорию в котором создадим сниппет, например для <b>PHP</b>. Развернем этот пункт и к уже
  имеющемся по умолчанию списку сниппетов добавим свой, нажав на <b>+</b>.</p>

<p>Выберем пункт <b>Live Template</b>.</p>

<p>В поле <b>Abbreviation</b> вводим короткую команду, которая будет символизировать нам конструкцию нашего кода.</p>

<p>В поле <b>Description</b> вводим краткое описание сниппета, чтобы не забыть о чем этот сниппет.</p>

<p>В поле <b>Template Text</b> вводим сам код. Например:</p>

{% capture code %}
&lt;?php
function ($MYTEXT$) {
return false;
}
{% endcapture %}
{% include component/code.html lang='php' content=code %}

<p>сниппетом мы можем задавать некоторые переменные вида <b>$INDEX$</b>, текст может быть любой. Значение этих переменных
  будут заполняться в процессе развертывания сниппета и переключения между переменными нажатием клавиши
  <b>Tab</b>.</p>

<h2><span class="attention">Увеличение</span> производительности PhpStorm</h2>

<p><b>PhpStorm</b> очень мощная <b>IDE</b>, содержащая в себе множество различных плагинов, иногда даже переизбыточных для конкретного пользователя. Это может ухудшить производительность и добавить "тормоза" при работе в <b>PhpStorm</b>. Чтобы это исправить давайте отключим излишнюю функциональность, которая нам не пригодится в работе. Для этого перейдем в настройки <kbd>Ctrl + Alt + S</kbd>, раздел <b>Plugins</b> и отключим некоторые плагины.</p>

<h3>Angular JS</h3>

<p>Отвечает за поддержку <b>JavaScript</b> фреймворка <b>Angular</b>.</p>

<hr>

<h3>Apache config (.htacces) support</h3>

<p>Отвечает за поддержку чтения конфигурационного файла <b>.htacces</b> в веб сервере <b>Apache</b>.</p>

<hr>

<h3>Database Tools and SQL</h3>

<p>Отвечает администрирования баз данных в интерфейсе <b>PhpStorm</b>, если планируете использовать стороннюю программу, например <b>DBeaver</b>, то лучше отключить встроенную функциональность.</p>

<hr>

<h3>Database Tools and SQL</h3>

<p>Отвечает администрирования баз данных в интерфейсе <b>PhpStorm</b>, если планируете использовать стороннюю программу, например <b>DBeaver</b>, то лучше отключить встроенную функциональность.</p>

<hr>

<h3>Behat Support</h3>

<p>Необходим если вы используете <b>Behat BDD framework</b> для тестов.</p>

<hr>

<h3>Css, Less, Sass, PostCss, Tailwind Css</h3>

<p>Необходимы если вы используете какую либо из перечисленных технологий для работы со стилями <b>CSS</b>.</p>

<hr>

<h3>Blade</h3>

<p>Необходим если вы используете <b>Laravel</b> для создании сайтов.</p>

<hr>

<h3>Twig</h3>

<p>Необходим если вы используете <b>Twig</b> шаблонизатор.</p>

<hr>

<h3>Codeception Framework</h3>

<p>Необходим если вы используете <b>Codeception Framework</b> для тестов.</p>

<hr>

<h3>Php Comand Line Tool</h3>

<p>Необходим если вы используете <b>Composer, Drush, Symfony, Zend Framework Tool, WP-CLI</b>.</p>

<hr>

<h3>Copyright</h3>

<p>Необходим если вы пишите <b>Copyright</b> в файлах проекта.</p>

<hr>

<h3>Styled Components & Styled JSX</h3>

<p>Необходим если вы используете <b>CSS</b> стили в <b>JSX компонентах</b>.</p>

<hr>

<h3>Docker и Dev Containers</h3>

<p>Необходим если вы используете <b>Docker</b> контейнеры.</p>

<hr>

<h3>Vagrant</h3>

<p>Необходим если вы используете <b>Vagrant</b> контейнеры.</p>

<hr>

<h3>Drupal</h3>

<p>Необходим если вы разрабатываете сайты на <b>Drupal</b>.</p>

<hr>

<h3>WordPress</h3>

<p>Необходим если вы разрабатываете сайты на <b>WordPress</b>.</p>

<hr>

<h3>Git</h3>

<p>Необходим если вы используете <b>Git</b>.</p>

<hr>

<h3>GitLab</h3>

<p>Необходим если вы используете <b>GitLab</b> репозиторий.</p>

<hr>

<h3>File Watchers</h3>

<p>Необходим если вы хотите следить за изменением файлов, например <b>Sass</b> и переводить их в <b>CSS</b>. Обычно в моей работе эту часть задачи берет на себя <b>Gulp</b> сборщик.</p>

<hr>

<h3>Gherkin</h3>

<p>Добавляет поддержку языка <b>Gherkin</b>, который используется инструментом тестирования <b>Cucumber</b>.</p>

<hr>

<h3>GNU GetText files support</h3>

<p>Этот плагин обеспечивает поддержку файлов <b>GNU GetText (*.po)</b>.</p>

<hr>

<h3>Mercurial</h3>

<p>Необходим если вы используйте <b>Mercurial</b> вместо <b>Git</b>.</p>

<hr>

<h3>Mercurial</h3>

<p>Необходим если вы используйте <b>Mercurial</b> как систему контроля версий.</p>

<hr>

<h3>Perforce Helix Core</h3>

<p>Необходим если вы используйте <b>Perforce</b> как систему контроля версий.</p>

<hr>

<h3>Html Tools</h3>

<p>Необходим если вы используйте <b>Mercurial</b> вместо <b>Git</b>.</p>

<hr>

<h3>Performance Testing</h3>

<p>Плагин для автоматического выполнения тестовых сценариев, создания снимков производительности и сбора статистики производительности.</p>

<hr>

<h3>Phing</h3>

<p>Обеспечивает поддержку Phing, инструмента сборки PHP-приложений.</p>

<p>Это не полный список того, что можно отключить. Советую ознакомиться с каждым установленным плагином и отключить не нужные.</p>

<hr>

<h3>Инспекция кода</h3>

<p>Так же для увеличения производительности можно отключить особый тип конструкций, чтобы <b>PhpStorm</b> их не проверял. Заходим в настройки <kbd>Ctrl + Alt + S</kbd>, в поле поиска вводим слово <b>Language Injections</b> и в данном разделе отключаем не используемое нами.</p>

<p>Чтобы не инспектироваться определенные ошибки в коде, заходим в настройки <kbd>Ctrl + Alt + S</kbd>, в поле поиска вводим слово <b>Inspections</b> и в данном разделе отключаем не используемое нами.</p>

<h2><span class="attention">Стили</span> кодирования (PHP линтеры)</h2>

<p>Набор правил позволяет придерживаться строгому стилю кодирования. При использовании в <b>IDE</b> и редакторах кода подсвечивает некорректный правилам код, а так же автоматически исправляет его.</p>

<p>Самыми распространенными инструментами в этом направлении являются <b>PHP CodeSniffer</b> и <b>PHP CS Fixer</b>. Различие между ними не существенны. Набор команд <b>PHP CS Fixer</b> более минималистичен при работе с данным линтером из командной строки, а так же он использует кэширование исправлений. В основном я использую <b>PHP CS Fixer</b>, хотя начинал с <b>PHP CodeSniffer</b>.</p>

<p>Для работы с линтерами необходимо установить следующие зависимости.</p>

{% include component/code.html lang='php' content='sudo apt install php-xml php-xmlrpc' %}

<h3>Перечень стилей</h3>

<p><a href="https://www.php-fig.org/psr/psr-1/" target="_blank" rel="nofollow">PSR-1</a> - базовый стандарт кодирования</p>
<p><a href="https://www.php-fig.org/psr/psr-2/" target="_blank" rel="nofollow">PSR-2</a> - устарел</p>
<p><a href="https://www.php-fig.org/psr/psr-4/" target="_blank" rel="nofollow">PSR-4 </a>- автозагрузчик (namespace)</p>
<p><a href="https://www.php-fig.org/psr/psr-12/" target="_blank" rel="nofollow">PSR-12</a> - расширенный стиль кодирования</p>
<p><a href="https://www.php-fig.org/per/coding-style/" target="_blank" rel="nofollow">PER Coding Style</a> - улучшение PSR-12</p>

<h3>PHP CodeSniffer</h3>

<p>Инструкция по установке <b>PHP CodeSniffer</b> написана на <a href="https://github.com/squizlabs/PHP_CodeSniffer" target="_blank" rel="nofollow">официальном сайте</a>.</p>

<h4>Установка в корень проекта</h4>

<p><b>PHP CodeSniffer</b> будет работать только с проектом в который установлен.</p>

{% capture code %}
curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcbf.phar

# ИЛИ

composer require "squizlabs/php_codesniffer=*"
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<h4>Глобальная установка</h4>

<p><b>PHP CodeSniffer</b> будет работать с любым проектом.</p>

<p>На вопрос <b>Do you want to re-run the command with --dev?</b> отвечаем <b>yes</b>.</p>

{% include component/code.html lang='bash' content='composer global require squizlabs/php_codesniffer' %}

<h4>Проверка пути глобальной директории</h4>

<p>Для того, чтобы узнать куда был установлен <b>PHP CodeSniffer</b>.</p>

{% include component/code.html lang='bash' content='composer global config bin-dir --absolute' %}

<h4>Запуск CodeSniffer</h4>

<p>Стандартом кодирования по умолчанию в <b>PHP_CodeSniffer</b> является <b>PEAR</b>.</p>

<p>Что бы проверить файлы на соответствие стандарту выполните следующие команды.</p>

{% capture code %}
# phpcs покажет ошибки
./vendor/bin/phpcs /path/to/code-directory

# phpcbf исправит ошибки
./vendor/bin/phpcbf /path/to/code-directory

# ИЛИ

~/.config/composer/vendor/bin/phpcs /path/to/code-directory
~/.config/composer/vendor/bin/phpcbf /path/to/code-directory
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<h4>Переопределение стандарта PHP_CodeSniffer с PEAR на PSR-12</h4>

<p>Чтобы проверить файл по стандарту кодирования <b>PSR-12</b>, добавьте следующую опцию <b>--standard=PSR12</b>.</p>

{% capture code %}
phpcs --standard=PSR12 /path/to/code-directory
phpcbf --standard=PSR12 /path/to/code-directory
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<h4>Автоматическая проверка кода</h4>

<p>Для того чтобы вручную не вводить команды настроим <b>PhpStorm</b> на работу с <b>PHP_CodeSniffer</b>. Зайдем в настройки <kbd>Ctrl + Alt + S</kbd> введем в поиске <b>Code Style</b> и выберем раздел <b>PHP</b>. Нажмем по ссылке <b>Set from...</b> и выберем пункт <b>PSR12</b>.</p>

<p>Не выходя из настроек вводим в поиск слово <b>Quality Tools</b> и в настройках этого раздела разворачиваем пункт <b>PHP_CodeSniffer</b>.</p>

<p>Возле параметра <b>Configuration</b> жмем кнопу с тремя точками и указываем путь до снифера. Нажимаем кнопку <b>Validate</b> для проверки, при успешной валидации внизу должна появиться надпись <b>OK, PHP_CodeSnifer version...</b> Жмем <b>OK</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-1.jpg' type='original' alt='Настройки путей до PHP_CodeSniffer' %}
  <figcaption>Жмем кнопу с тремя точками и указываем путь до снифера.</figcaption>
</figure>

<p>Затем меняем состояние активности <b>PHP_CodeSnifer</b> с <b>OFF</b> на <b>ON</b>.<br> В поле <b>Coding standart</b> выбираем параметр <b>PSR12</b>.<br>В параметре <b>External formatters</b> выбираем значение <b>PHP Code Beautifier and Fixer</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-2.jpg' type='original' alt='Настройки PHP_CodeSniffer' %}
  <figcaption>Окончательный вариант настроек <b>PHP_CodeSnifer</b>.</figcaption>
</figure>

<h3>PHP CS Fixer</h3>

<p>Инструкция по установке <b>PHP CS Fixer</b> написана на <a href="https://cs.symfony.com/doc/installation.html" target="_blank" rel="nofollow">официальном сайте</a>.</p>

<h4>Установка в корень проекта</h4>

<p><b>PHP CS Fixer</b> будет работать только с проектом в который установлен.</p>

{% capture code %}
curl -L https://cs.symfony.com/download/php-cs-fixer-v3.phar -o php-cs-fixer

# ИЛИ

composer require friendsofphp/php-cs-fixer
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<h4>Глобальная установка</h4>

<p><b>PHP CS Fixer</b> будет работать с любым проектом.</p>

<p>На вопрос <b>Do you want to re-run the command with --dev?</b> отвечаем <b>yes</b>.</p>

{% include component/code.html lang='bash' content='composer global require friendsofphp/php-cs-fixer' %}

<h4>Проверка пути глобальной директории</h4>

<p>Для того, чтобы узнать куда был установлен <b>PHP CS Fixer</b>.</p>

{% include component/code.html lang='bash' content='composer global config bin-dir --absolute' %}

<h4>Запуск PHP CS Fixer</h4>

<p>Что бы проверить файлы на соответствие стандарту выполните <a href="https://github.com/PHP-CS-Fixer/PHP-CS-Fixer/blob/master/doc/usage.rst" target="_blank" rel="nofollow">следующие команды</a>.</p>

{% capture code %}
php php-cs-fixer fix /path/to/dir
php php-cs-fixer fix /path/to/file

# ИЛИ

php ~/.config/composer/vendor/bin/php-cs-fixer fix /path/to/dir
php ~/.config/composer/vendor/bin/php-cs-fixer fix /path/to/file

# Опции:
--dry-run - проверка без исправлений
--using-cache=no - не учитывать предыдущую проверку
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<h4>Автоматическая проверка кода</h4>

<p>Для того чтобы вручную не вводить команды настроим <b>PhpStorm</b> на работу с <b>PHP CS Fixer</b>. Зайдем в настройки <kbd>Ctrl + Alt + S</kbd> введем в поиске <b>Code Style</b> и выберем раздел <b>PHP</b>. Нажмем по ссылке <b>Set from...</b> и выберем пункт <b>PSR12</b>.</p>

<p>Не выходя из настроек вводим в поиск слово <b>Quality Tools</b> и в настройках этого раздела разворачиваем пункт <b>PHP CS Fixer</b>.</p>

<p>Возле параметра <b>Configuration</b> жмем кнопу с тремя точками и указываем путь до снифера. Нажимаем кнопку <b>Validate</b> для проверки, при успешной валидации внизу должна появиться надпись <b>OK, PHP CS Fixer version...</b> Жмем <b>OK</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-3.jpg' type='original' alt='Настройки путей до PHP CS Fixer' %}
  <figcaption>Жмем кнопу с тремя точками и указываем путь до снифера.</figcaption>
</figure>

<p>Затем меняем состояние активности <b>PHP CS Fixer</b> с <b>OFF</b> на <b>ON</b>.<br> В поле <b>Coding standart</b> выбираем параметр <b>PSR12</b>.<br>В параметре <b>External formatters</b> выбираем значение <b>PHP Code Beautifier and Fixer</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-4.jpg' type='original' alt='Настройки PHP CS Fixer' %}
  <figcaption>Окончательный вариант настроек <b>PHP CS Fixer</b>.</figcaption>
</figure>

<h3>Pre Commit</h3>

<p>Чем хороши линтеры тем что позволяют проверить код на соответствие определенным правилам и если код им не соответствует исправить его либо оповестить о проблемах. К данной функциональности можно так же добавить проверку кода перед созданием коммита в <b>git</b> и если найдется ошибка коммит не состоится. Что позволит поддерживать о единообразии кода как на локальном компьютере, так и на удаленном репозитории.</p>

<p>Создадим хук <b>Pre Commit</b>. Некоторая программная логика которая будет срабатывать при определенных действиях. В данном случае наш хук будет срабатывать при создании коммита.</p>

<p>Создадим хук введя команду.</p>

{% include component/code.html lang='bash' content='cp .git/hooks/pre-commit.sample .git/hooks/pre-commit' %}

<h4>Pre Commit для PHP_CodeSniffer</h4>

<p>Содержимое созданного файла если нужно автоматическое исправление кода.</p>

{% capture code %}
#!/bin/sh

if [ -f /home/username/.config/composer/vendor/bin/phpcbf ]
then
  /home/username/.config/composer/vendor/bin/phpcbf ./
  if [ $? -ne 0 ]
  then
    RED='\033[0;31m'
    CYAN='\033[0;36m'
    NA='\033[0m'

    printf "\n\t${CYAN}[GIT POLICY]${NA} PHP-CS-Fixer has failed - ${RED}Push Aborted${NA}\n\n"

    return 1
  fi
fi
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<p>Содержимое созданного файла если не нужно автоматическое исправление кода.</p>

{% capture code %}
#!/bin/sh

if [ -f /home/username/.config/composer/vendor/bin/phpcs ]
then
  /home/username/.config/composer/vendor/bin/phpcs ./
  if [ $? -ne 0 ]
    then
    RED='\033[0;31m'
    CYAN='\033[0;36m'
    NA='\033[0m'

    printf "\n\t${CYAN}[GIT POLICY]${NA} PHP-CS-Fixer has failed - ${RED}Push Aborted${NA}\n\n"

    return 1
  fi
fi
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<h4>Pre Commit для PHP CS Fixer</h4>

<p>Содержимое созданного файла если нужно автоматическое исправление кода.</p>

{% capture code %}
#!/bin/sh

if [ -f /home/username/.config/composer/vendor/bin/php-cs-fixer ]
then
  /home/username/.config/composer/vendor/bin/php-cs-fixer fix --quiet --using-cache=no ./
  if [ $? -ne 0 ]
  then
    RED='\033[0;31m'
    CYAN='\033[0;36m'
    NA='\033[0m'

    printf "\n\t${CYAN}[GIT POLICY]${NA} PHP-CS-Fixer has failed - ${RED}Push Aborted${NA}\n\n"

    return 1
  fi
fi
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<p>Содержимое созданного файла если не нужно автоматическое исправление кода.</p>

{% capture code %}
#!/bin/sh

if [ -f /home/username/.config/composer/vendor/bin/php-cs-fixer ]
then
  /home/username/.config/composer/vendor/bin/php-cs-fixer fix --dry-run --quiet --using-cache=no ./
  if [ $? -ne 0 ]
    then
    RED='\033[0;31m'
    CYAN='\033[0;36m'
    NA='\033[0m'

    printf "\n\t${CYAN}[GIT POLICY]${NA} PHP-CS-Fixer has failed - ${RED}Push Aborted${NA}\n\n"

    return 1
  fi
fi
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<h2><span class="attention">Горячие</span> клавиши PhpStorm</h2>

<p>Список горячих клавиш, которые я использую при работе с <b>PhpStorm</b>.</p>

<ul>
  <li><kbd>Ctrl + Shift + S</kbd> — меню настроек</li>
  <li><kbd>Alt + Shift + Mouse</kbd> — множественное выделение</li>
  <li><kbd>Ctrl + Alt + L</kbd> — автоформатирование кода</li>
  <li><kbd>Ctrl + D</kbd> — дублирование строки</li>
  <li><kbd>Ctrl + X</kbd> — удаление строки</li>
  <li><kbd>Ctrl + Пробел</kbd> — автокомплит служебные конструкции</li>
  <li><kbd>Ctrl + Alt + T</kbd> — обертка для выделенного слова</li>
  <li><kbd>Alt + Z</kbd> — перенос строк (пользовательская настройка Soft-wrap)</li>
  <li><kbd>Alt + J</kbd> — выбор такогоже выделенного объекта</li>
  <li><kbd>Alt + Shift + J</kbd> — отмена выбора выделеного объекта</li>
  <li><kbd>Ctrl + F</kbd> — поиск</li>
  <li><kbd>Ctrl + R</kbd> — поиск и замена</li>
  <li><kbd>Shift два раза</kbd> — меню поиска</li>
  <li><kbd>Ctrl + N</kbd> — поиск классов</li>
  <li><kbd>Ctrl + Alt + Shift + N</kbd> — поиск символов</li>
  <li><kbd>Ctrl + Shift + I, F4</kbd> — посмотреть код функции не заходя в нее, перейти в нее</li>
  <li><kbd>Ctrl + F4</kbd> — закрыть все вкладки</li>
  <li><kbd>Ctrl + E</kbd> — последние файлы</li>
  <li><kbd>Alt + P</kbd> — переключение между проектами (пользовательская настройка manage projects)</li>
  <li><kbd>Alt + Home</kbd> — показать навигацию</li>
  <li><kbd>Ctrl + Shift + V</kbd> — история копирования</li>
  <li><kbd>Ctrl + Tab</kbd> — меню быстрого переключения модулей программы</li>
  <li><kbd>Ctrl + F12</kbd> — структура кода</li>
  <li><kbd>Alt + Alt + G</kbd> — меню гит (пользовательская настройка vcs operations)</li>
  <li><kbd>Ctrl + Alt + Z</kbd> — откатить git commit</li>
  <li><kbd>Ctrl + Shift + `</kbd> — ветки гита</li>
  <li><kbd>Shift + Alt + F10</kbd> — запуск задач</li>
  <li><kbd>Shift + F10</kbd> — последняя задача</li>
  <li><kbd>Alt + C, Alt + S</kbd> — плагин Scratch</li>
  <li><kbd>Alt + C</kbd>, <kbd>Alt + A</kbd> — создания заметок в плагине Scratch</li>
  <li><kbd>Alt + C</kbd>, <kbd>Alt + S</kbd> — выбора заметок в плагине Scratch</li>
</ul>



























