---
layout: post
title: 'Linux для начинающих с уклоном в веб разработку. Часть 4: Настройка программ в Pop!_OS'
date: 2023-08-25 10:00 +0600
description: 'В этой части речь пойдет о настройке программ в дистрибутиве <b>Pop!_OS</b>. Настроим <b>Git</b>,
<b>VSCode</b> и <b>PhpStorm</b> для комфортной разработки.'
image: cover.jpg
alt: Linux для начинающих - Часть 4
category: devops
tags: [linux, popos, программы, софт, настройка]
published: true
sitemap: true
excerpt_separator: "<!--more-->"
---

<p>В этой части речь пойдет о настройке программ в дистрибутиве <b>Pop!_OS</b>. Настроим <b>Git</b>, <b>VSCode</b> и <b>PhpStorm</b>
  для комфортной разработки.</p>

<!--more-->

<h2><span class="attention">Вводная</span> часть</h2>

<p>Серия статей о том как безболезненно перейти с операционной системы <b>Windows</b> на <b>Linux</b> дистрибутив <b>Pop!_OS</b>,
  для разработки веб приложений и повседневного использования в качестве основной операционной системы.</p>

{% include reference/linux-tutorial.html %}

<h3>В предыдущей статье</h3>

<p>В предыдущей статье мы установили целый пласт различных программ как для повседневных задач так и для веб разработки,
  а так же затронули некоторые полезные расширения для браузера <b>Chrome</b>.</p>

<h2><span class="attention">Настройка</span> Git</h2>

<p>В предыдущей статье мы установили <b>Git</b>, давайте теперь его настроим.</p>

<h3>Определение имени и email</h3>

<p>Зададим <b>имя</b> и <b>email</b>, вместо <b>&lt;имя&gt;</b> и <b>&lt;email&gt;</b> укажите свои данные. Эти данные
  будут использоваться, чтобы идентифицировать вас в истории коммитов.</p>

{% capture code %}
git config --global user.name "&lt;имя&gt;"
git config --global user.email "&lt;email&gt;"
{% endcapture %}
{% include component/code.html lang='bash' content=code %}

<h3>Генерация SSH ключа</h3>

<p>SSH ключ нужен для аутентификации и шифрования при работе с удаленными серверами и сервисами, в частности для работы
  с <b>Git репозиториями</b>, такими как например <b>Github</b>.</p>

<p>Создадим ключ введя в терминале команду. Где вместо <b>your_email@example.com</b> необходимо подставить адрес своей
  электронной почты.</p>

{% include component/code.html lang='bash' content='ssh-keygen -t ed25519 -C "your_email@example.com"' %}

<p>При создании ключа следуйте инструкции в терминале. Вам потребуется указать каталог где будет храниться ключ, можно
  оставить путь до каталога без изменения. По умолчанию это будет <b>~/.ssh</b>. Далее попросят создать пароль для
  ключа, можно создать ключ без пароля, нажав просто <kbd>Enter</kbd>, но лучше всего задать пароль. Если вы задали
  пароль следующим шагом нужно еще раз его повторить.</p>

<h3>Запуск SSH</h3>

<p>Далее запустим агента <b>SSH</b>, он управляет ключами <b>SSH</b> и помогает автоматизировать аутентификацию при
  подключении к удаленным серверам.</p>

{% include component/code.html lang='bash' content='eval $(ssh-agent -s)' %}

<p>После запуска агента, <b>SSH</b> будет активирован в текущей сессии. Затем вы можете добавить свой <b>SSH</b> ключ в
  агент с помощью команды <b>ssh-add</b>, чтобы агент автоматически использовал этот ключ для аутентификации при
  подключении к удаленным серверам.</p>

{% include component/code.html lang='bash' content='ssh-add ~/.ssh/id_ed25519' %}

<h3>Добавляем SSH ключ в Github</h3>

<p>Мы успешно создали <b>SSH</b> ключ. Если посмотреть содержимое каталога <b>~/.ssh</b>, где хранятся ключи, то можно
  увидеть там два ключа <b>id_ed25519</b> и <b>id_ed25519.pub</b>. Ключ <b>id_ed25519</b> является приватным доступ к
  нему должны иметь только вы, ключ <b>id_ed25519.pub</b> является публичны, этим ключом можно свободно делиться.</p>

<p>Скопируем содержимое публичного ключа <b>id_ed25519.pub</b> и перейдем на <a href="https://github.com/"
                                                                                target="_blank" rel="nofollow">сайт
  GitHub</a>. Если вы еще не зарегистрированы на этом сайте самое время это сделать.</p>

<p>Перейдем в раздел <b>Settings</b>, для этого нажимаем в правом верхнем углу на свой <b>аватар</b> и в появившемся
  меню выбираем пункт <b>Settings</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-1.jpg' type='original' alt='Меню с навигацией профиля
  Github.' %}
  <figcaption>Перейдем в раздел <b>Settings</b>, для этого нажимаем в правом верхнем углу на свой <b>аватар</b> и в
    появившемся меню выбираем пункт <b>Settings</b>.
  </figcaption>
</figure>

<p>Далее нас интересует раздел <b>SSH and GPG keys</b>, переходим в него и нажимаем на кнопку <b>New SSH key</b>. </p>

<figure>
  {% include component/picture.html slug=page.slug img='img-2.jpg' type='original' alt='Раздел добавления SSH ключа.' %}
  <figcaption>Нажимаем на кнопку <b>New SSH key</b>.</figcaption>
</figure>

<p>В поле <b>Title</b> вводим произвольный описательный текст, например я назову его <b>Linux</b>.<br> В поле <b>Key
  type</b> оставляем значение по умолчанию <b>Authentication Key</b>.<br> В поле <b>Key</b> вставляем скопированный
  публичный ключ.<br> Жмем кнопку <b>Add SSH key</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-3.jpg' type='original' alt='Добавляем SSH ключ' %}
  <figcaption>Жмем кнопку <b>Add SSH key</b>.</figcaption>
</figure>

<h3>Проверка связи с репозитрием</h3>

<p>Проверим успешно ли мы все настроили, для этого вводим в терминале команду.</p>

{% include component/code.html lang='bash' content='ssh -T git@github.com' %}

<p>При первом подключении к <b>Git</b> по <b>SSH</b> на вопрос <b>Are you sure you want to continue connecting
  (yes/no/[fingerprint])</b> вводим <b>yes</b>. Если вы все сделали правильно должна появиться надпись: <b>Hi username!
  You've successfully authenticated, but GitHub does not provide shell access.</b></p>

<p>Настройка <b>Git</b> завершена, теперь вы можете отправлять коммиты на удаленный репозиторий. Не забудьте пароль от
  <b>SSH</b> так как он будет необходим при отправки коммитов.</p>

<h2><span class="attention">Настройка</span> Visual Studio Code</h2>

<p>Благодаря всевозможным расширениям редактор кода <b>VSCode</b> позволяет кастомизировать себя до уровня <b>IDE</b>. В
  этом разделе покажу вам какие обычно расширения использую в своей работе с <b>VSCode</b>, какие настройки изменяю и
  какие горячие клавиши использую. Так как в своей работе я использую стек <b>html</b>, <b>pug</b>, <b>css</b>,
  <b>scss</b>, <b>js</b>, <b>php</b>, то и расширения будут касаться этих технологий.</p>

<h3>Базовая настройка</h3>

<p>Первым делом зададим базовые настройки редактору <b>VSCode</b>. В левом нижнем углу нажмем на иконку шестеренки и
  выберем пункт <b>Settings</b> или горячие клавиши <kbd>Ctrl + ,</kbd>. Откроется вкладка с настройками, чтобы быстро
  найти интересующую нас настройку вводим в поле поиска <b>Search Settings</b> ключевое слово.</p>

<h4>Автоматическое сохранение</h4>

<p>В поле поиска вводим слово <b>Auto Save</b> и установим значение <b>onFocusChange</b>.</p>

<p>Эта настройка позволит при потере фокуса с активной вкладки автоматически сохранять все сделанные в ней изменения.
  Что очень удобно при частом переключении между редактором кода и браузером.</p>

<hr>

<h4>Размер шрифта</h4>

<p>В поле поиска вводим слово <b>Font Size</b> и установим значение <b>15</b>.</p>

<hr>

<h4>Размер табуляции</h4>

<p>В поле поиска вводим слово <b>Tab Size</b> и установим значение <b>2</b>.</p>

<hr>

<h4>Шрифт текста</h4>

<p>В поле поиска вводим слово <b>Font Family</b> и установим значение <b>'Fira Code', 'Droid Sans Mono', 'monospace',
  monospace</b>, либо оставим по умолчанию.</p>

<hr>

<h4>Ширина строки</h4>

<p>В поле поиска вводим слово <b>Word wrap column</b> и установим значение <b>120</b>.</p>

<p>Эта настройка задаст максимальную длину текста в одну линию, в 120 символов, после чего редактор будет переносить
  слова на новую строку.</p>

<hr>

<h4>Лигатура шрифта</h4>

<p>В поле поиска вводим слово <b>Font Ligatures</b>, нажмем по ссылку <b>Edit in settings.json</b> и добавим значение
  <b>"editor.fontLigatures": true</b>.</p>

<p>Эта настройка сделает более читабельными некоторые специфичные для программирования символы, например <b>=></b>.</p>

<hr>

<h4>Настройки Emmit</h4>

<p>В поле поиска вводим слово <b>Emmet trigger expansion on tab</b> и активируем переключатель. </p>

<p>Эта настройка позволит разворачивать <b>Emmet</b> конструкции <b>html</b> разметку, даже когда первоначальный фокус
  на <b>Emmet</b> строке был потерян.</p>

<h3>Горячие клавиши VSCode</h3>

<p>Меня не совсем устраивают стандартные горячие клавиши в <b>VSCode</b>, здесь они не такие, как в операционной системе
  <b>Windows</b>. Приведем их в привычный вид, для этого откроем настройки клавиатуры нажав горячие клавиши <kbd>Ctrl +
    K</kbd> затем сразу же нажимаем <kbd>Ctrl + S</kbd>. Откроется вкладка с настройками горячих клавиш.</p>

<h4>Замена текста</h4>

<p>В поле поиска вводим слово <b>replace</b> и изменяем горячие клавиши <kbd>Ctrl + H</kbd> на <kbd>Ctrl + R</kbd>.</p>

<p>В поле поиска вводим слово <b>replace in files</b> и изменяем горячие клавиши <kbd>Ctrl + Shift + H</kbd> на <kbd>Ctrl
  + Shift + R</kbd>.</p>

<h4>Дублирование текста</h4>

<p>В поле поиска вводим слово <b>copy line down</b> и изменяем горячие клавиши <kbd>Ctrl + Shift + Alt + DownArrow</kbd>
  на <kbd>Ctrl + D</kbd>.</p>

<h4>Выделение похожего текста</h4>

<p>В поле поиска вводим слово <b>add selection to next find match</b> и изменяем горячие клавиши <kbd>Ctrl + D</kbd> на
  <kbd>Alt + J</kbd>.</p>

<h3>Установка расширений VSCode</h3>

<p>Расширений для <b>VSCode</b> по истине очень много, все их не представляется возможным разобрать. Те же которые
  разберем не имеет смысла подключать, если нет надобности в их использовании. Но я надеюсь, что данный пример послужит
  вектором для подборки собственных расширений, направленных на решения именно ваших потребностей.</p>

<p>Для того, чтобы установить расширение, нажмем горячие клавиши <kbd>Ctrl + Shift +
  X</kbd>. В появившейся области нажмем на поле поиска <b>Search Extensions in Marketplace</b> и вводим название
  расширения которое хотели бы найти.</p>

<h4>Auto Complete Tag</h4>

<p>Автоматически закрывает и переименовывает теги.</p>

<hr>

<h4>Code runner</h4>

<p>Запускает в консоле <b>js</b> код.</p>

<hr>

<h4>EditorConfig for VS Code</h4>

<p>Подхватывает настройки (стиля табуляции и прочего) конфигурационного файла <b>.editorconfig</b> и применяет их к
  коду.</p>

<hr>

<h4>Github plus theme</h4>

<p>Светлая тема для редактора кода <b>VSCode</b>.</p>

<hr>

<h4>Theme Tinacious</h4>

<p>Темная тема для редактора кода <b>VSCode</b>.</p>

<hr>

<h4>Theme</h4>

<p>Темная тема для редактора кода <b>VSCode</b>.</p>

<hr>

<h4>vscode icons</h4>

<p>Набор иконок для различных типов файлов в редакторе кода.</p>

<hr>

<h4>VSCode Great Icons</h4>

<p>Набор иконок для различных типов файлов в редакторе кода.</p>

<hr>

<h4>Live Server</h4>

<p>Виртуальный сервер для отображения проделанной работы в браузере с автоматическим обновлением страницы при ее
  изменении.</p>

<hr>

<h4>Import cost</h4>

<p>Показывает вес импортированных библиотек рядом со строкой импорта.</p>

<hr>

<h4>npm intellisense</h4>

<p>При импорте библиотек подсказывает название установленных <b>npm</b> пакетов при вводе подстроки, соответствующей
  этому пакету.</p>

<hr>

<h4>Open In Browser</h4>

<p>Позволяет открыть активную вкладку <b>html</b> в браузере.</p>

<hr>

<h4>Git history</h4>

<p>Просмотр истории коммитов в интерфейсе редактора кода <b>VSCode</b>.</p>

<hr>

<h4>Сss peek</h4>

<p>Быстрый просмотр значений <b>css</b> стиля в <b>html</b> документе. По щелчку <kbd>Ctrl + Левая кнопка мыши</kbd> на
  названии <b>css</b> стиля в <b>html</b> документе, откроется <b>css</b> файл содержащий этот стиль.</p>

<hr>

<h4>IntelliSense for CSS class names in HTML</h4>

<p>Помогает с автозаполнением названия <b>css</b> стиля в <b>html</b> документе.</p>

<hr>

<h4>Path Intellisense</h4>

<p>Помогает с автозаполнением путей до файлов в <b>html</b> документе.</p>

<hr>

<h4>PHP Intelephense</h4>

<p>Помогает при написании <b>PHP</b> кода подсказками и автоматическим дописыванием <b>php</b> конструкций.</p>

<hr>

<h4>Markdown Preview Enchanced</h4>

<p>Позволяет визуализировать markdown разметку.</p>

<hr>

<h4>File Peek</h4>

<p>Открытие файла по ссылке.</p>

<hr>

<h4>JS Parameter Annotations</h4>

<p>Подсказки наименований переменных для <b>JS</b>.</p>

<hr>

<h4>Inline Parameters for VSCode</h4>

<p>Подсказки наименований переменных для <b>PHP</b>.</p>

<hr>

<h4>Auto Import - ES6, TS, JSX, TSX</h4>

<p>Автоматический импорт в <b>JS</b>.</p>

<hr>

<h4>eCSStractor for VSCode</h4>

<p>Извлекает имена классов из <b>HTML</b> и создает из них <b>css</b> стили.</p>

<hr>

<h4>Russian Language Pack</h4>

<p>Русский язык для редактора кода <b>VSCode</b>.</p>

<hr>

<h4>es6-string-html</h4>

<p>Подсветка <b>html</b> разметки внутри переменной в <b>js</b> коде.</p>

<hr>

<h4>SVG Preview</h4>

<p>Предпросмотр <b>svg</b> иконок прям в редакторе кода <b>VSCode</b>.</p>

<hr>

<h4>Windows Default Keybindngs</h4>

<p>Горячие клавиши для <b>VSCode</b> как в <b>Windows</b>.</p>

<hr>

<h4>Sublime Text Keymap and Settings Importer</h4>

<p>Горячие клавиши как в <b>Sublime</b>.</p>

<hr>

<h4>ES Lint</h4>

<p>Линтер для <b>JavaScript</b>. Проверяет <b>js</b> код на соответствие параметрам конфигурационного файла
  <b>.eslintrc</b>. Полезен для поддержания единого стиля кодирования.</p>

<hr>

<h4>HTMLHint</h4>

<p>Линтер для <b>HTML</b>. Проверяет <b>html</b> разметку на соответствие параметрам конфигурационного файла <b>.htmlhintrc </b>.
  Полезен для поддержания единого стиля кодирования.</p>

<hr>

<h4>puglint</h4>

<p>Линтер для <b>Pug</b>. Проверяет <b>pug</b> разметку на соответствие параметрам конфигурационного файла <b>.pug-lintrc</b>.
  Полезен для поддержания единого стиля кодирования.</p>

<hr>

<h4>scss-lint</h4>

<p>Линтер для <b>Scss</b>. Проверяет <b>scss</b> стили на соответствие параметрам конфигурационного файла <b>.stylelintrc</b>.
  Полезен для поддержания единого стиля кодирования.</p>

<hr>

<h4>Prettier Code formatter</h4>

<p>Форматор кода.</p>

<hr>

<h4>phpcs</h4>

<p>Код снифер для <b>PHP</b>.</p>

<hr>

<h4>JS quick console</h4>

<p>быстрая вставка console.log. В принципе этот плагин могут заменить пользовательские снипетты. Как создать
  пользовательский снипет будет далее.</p>

<hr>

<h4>Polacode</h4>

<p>Делает скриншот кода.</p>

<hr>

<h4>Gulp Snippets</h4>

<p>Короткие строки, разворачивающиеся в целые <b>gulp</b> конструкции, наподобие <b>Emmet</b>.</p>

<hr>

<h4>Live Sass Compiler</h4>

<p>Компиляция <b>Sass/Scss</b> в <b>css</b> без использования сборщиков.</p>

<hr>

<h4>WordPress Hooks IntelliSense</h4>

<p>Подстановка <b>WordPress</b> функций.</p>

<hr>

<h4>Wordpress snippets</h4>

<p>Короткие строки, разворачивающиеся в целые <b>WordPress</b> конструкции, наподобие <b>Emmet</b>.</p>

<hr>

<h4>WooCommerce - Snippets & autocomplete</h4>

<p>Снипетты для <b>WooCommerce</b>.</p>

<hr>

<h4>Pug</h4>

<p><b>Pug</b> сниппеты и поддержка разметки.</p>

<hr>

<h4>Pug beautify</h4>

<p>Форматирование <b>Pug</b> разметки.</p>

<hr>

<h4>SQL Server</h4>

<p>Администрирование базы данных.</p>

<hr>

<h4>Twig</h4>

<p>Добавляет поддержку <b>Twig</b> синтаксиса.</p>

<h2><span class="attention">Настройка</span> PhpStorm</h2>

<p>В этом разделе покажу вам какие обычно расширения использую в своей работе с <b>PhpStorm</b>, какие настройки изменяю
  и какие горячие клавиши использую.</p>

<h3>Базовая настройка</h3>

<p>Первым делом зададим базовые настройки редактору <b>PhpStorm</b>. Нажмем на горячие клавиши <kbd>Ctrl + Alt + S</kbd>.
  Откроется окно с настройками, чтобы быстро найти интересующую нас настройку вводим в поле поиска ключевое слово.</p>

<h4>GitHub</h4>

<p>В поле поиска вводим слово <b>github</b> и в разделе <b>Version Control → GitHub</b> добавляем наш аккаунт, нажав на
  <b>+</b>. Выберем пункт <b>Login in with Token</b>. Нажмем на кнопку <b>Generate</b> и нас перекинет в бразер на
  страницу <b>GitHub</b> в раздел где создается <b>Token</b>. Прокручиваем ползунок ниже и нажимаем <b>Generate
    token</b>.</p>

<p>Копируем созданный <b>Token</b> и вставляем в поле <b>Token</b> в <b>PhpStorm</b>. Жмем кнопку <b>Add Account</b>.
  Это позволит нам в дальнейшем взаимодействовать с сайтом <b>GitHub</b>. Например: получать, создавать <b>Gist</b> и
  т.п.</p>

<hr>

<h4>Ligatures</h4>

<p>В поле поиска вводим слово <b>Enabled Ligatures</b> и отмечаем пункт <b>Enable ligatures</b>.</p>

<p>Эта настройка сделает более читабельными некоторые специфичные для программирования символы, например <b>=></b>.</p>

<hr>

<h4>Шрифты</h4>

<p>В поле поиска вводим слово <b>Use Custom Fonts</b> и в разделе <b>Appearence</b> активируем пункт <b>Use Custom
  Fonts</b>, изменяем размер шрифта на 14.</p>

<p>В поле поиска вводим слово <b>Color Scheme Fonts</b>.<br> В параметре <b>Font</b> изменим значение на <b>DejaVu Sans
  Mono</b>.<br> В параметре <b>Size</b> изменим значение на <b>15</b>.</p>

<hr>

<h4>PSR12</h4>

<p>В поле поиска вводим слово <b>Php</b> и в разделе <b>Code Style</b> нажмем на ссылку <b>Set from</b> и выберем <b>PSR12</b>.
</p>

<p>Это позволит автоматически форматировать <b>php</b> код согласно стандарту <b>PSR12</b>.</p>

<hr>

<h4>Сохранение файла</h4>

<p>В поле поиска вводим слово <b>Actions save</b> и в таблице отмечаем пункты <b>Reformat Code</b> и <b>Optimize
  Import</b>.</p>

<p><b>Optimize Import</b> позволяет при сохранении файла автоматически удалять не используемые <b>import</b>.</p>

<p>В поле поиска вводим слово <b>System settings</b> и в разделе <b>Appearence → System settings</b> отмечаем пункт
  <b>Save files if the IDE is idle for</b> и ставим <b>10 секунд</b>. Это позволит сохранять документ автоматически
  после простоя без действия равное <b>10 секунд</b>.</p>

<hr>

<h4>Преднастройка файлов PHP</h4>

<p>В поле поиска вводим слово <b>File and code Templates</b>, в вкладке <b>Files</b> нажимаем на <b>PHP Class</b> и
  добавляем к конструкции <b>class</b> слово <b>final</b>, чтобы все создаваемые классы были по умолчанию завершенными.
</p>

{% capture code %}
&lt;?php
#parse("PHP File Header.php")

#if (${NAMESPACE})
namespace ${NAMESPACE};

#end
final class ${NAME} {

}
{% endcapture %}
{% include component/code.html lang='php' content=code %}

<p> Теперь перейдем во вкладку <b>Includes</b> выберем <b>PHP File Header</b> и добавим в него следующее содержимое.</p>

{% capture code %}
declare(strict_types=1);

{% endcapture %}
{% include component/code.html lang='php' content=code %}

<p>Для того чтобы все файлы при создании были строго типизированными.</p>

<hr>

<h4>Не известные переменные</h4>

<p>В поле поиска вводим слово <b>Undefined Symbols</b> находим параметр <b>Undefined variable</b> и в его настройках
  <b>Options</b> активируем параметр <b>Search for variable’s definition outside the current file</b>.</p>

<p>Поиск переменной не только в текущем файле, но и во всех файлах проекта. Это может быть очень полезно при работе с
  большими проектами, где переменные могут быть определены в разных частях кода или даже в разных файлах.</p>

<h3>Интересные фичи</h3>

<p><b>PhpStorm</b> многогранен каждый раз открываешь для себя что-то новое. В этом разделе я поделюсь интересными
  особенностями.</p>

<p>Нажмем клавишу <kbd>Shift</kbd> пару раз и появится окно поиска по всему проекту. Здесь можно искать как отдельные
  файлы проекта так и определенные функции, классы и т.п., а так же различные настройки.</p>

<h4>Минималистичный вид</h4>

<p>В поле поиска вводим слово <b>Free mode</b> и нажмем на пункт <b>Enter Distraction Free Mode</b>. Этот пункт позволит
  минимизировать интерфейс <b>PhpStorm</b> и сконцентрироваться на коде. Выйти из <b>Free mode</b> можно аналогичным
  путем, выбрав <b>Exit Distraction Free Mode</b>.</p>

<hr>

<h4>Отображение номера строк</h4>

<p>В поле поиска вводим слово <b>Show line number</b> и переключим одноименный пункт со страницы должны пропасть номера
  строк, для любителей минимализма.</p>

<hr>

<h4>Переключение на каталог активной вкладки</h4>

<p>В поле поиска вводим слово <b>Always Select Opened File</b> и переключим одноименный пункт, теперь при переключении
  между открытыми вкладками не будет происходить переключение в дереве каталогов к каталогу, хранящему файл, выбранной
  вкладки.</p>

<p>Напоминаю что вернуть изначальные настройки пункта можно тем же способом, просто нажмите на пункт еще раз, чтобы он
  переключил свое состояние.</p>

<p>Если объяснения кажутся слишком не понятными, попробуйте проделать описанные действия, например по переключаться
  между вкладками и посмотреть что изменится и т.п.</p>

<hr>

<h4>Безопасный режим</h4>

<p>Режим при котором <b>PhpStorm</b> перестает автоматически индексировать и проверять файлы. Тем самым нагружая меньше <b>ПК</b>.</p>

<p>Чтобы включить/отключить этот режим нажмем два раза <kbd>Shift</kbd> и введем слово <b>Save mode</b> выберем пункт <b>Show Power Save Mode.</b></p>

<hr>

<h4>История изменения файлов</h4>

<p>В <b>PhpStorm</b> есть свой мини репозиторий который хранит изменения в файлах. И если есть надобность откатиться на несколько сохранений назад, то удобно им воспользоваться.</p>

<p>Для этого нажимаем <b>Правой кнопкой мыши</b> по файлу который хотим откатить и выбираем пункт в выпадающем меню <b>Local History → Show History</b>. Далее ищем нужную версию и восстанавливаем ее.</p>

<hr>

<h4>TODO лист</h4>

<p>В <b>PhpStorm</b> если в комментарии написать слово <b>todo</b> то строка с этим кодом попадет в специальный раздел <b>TODO</b>. В который можно перейти нажав горячие клавиши <kbd>Ctrl + Tab O</kbd></p>

<p>Там же в настройках раздела <b>TODO</b> можно создать пользовательсие фильтры, для фильтрации по определенным типам <b>todo</b>, например <b>todo-front, todo-back</b>.</p>

<p>Удобно использовать для того, чтобы пометить область кода, которая требует доработки.</p>

<h3>Установка плагинов PhpStorm</h3>

<p>Надеюсь, что данный пример послужит вектором для подборки собственных расширений, направленных на решения именно
  ваших потребностей.</p>

<p>Для того чтобы установить плагин, нажмем горячие клавиши <kbd>Ctrl + Shift + S</kbd>. В появившемся окне настроек
  перейдем в раздел <b>Plugins</b>, переключимся на вкладку <b>Marketplace</b> и в поле поиск вводим название нужного
  плагина и устанавливаем его. Некоторые плагины начинают работать только после перезагрузки <b>PhpStorm</b>.</p>

<h4>Gist snippet</h4>

<p>Получение пользовательских наработок кода из <b>Gist GitHub</b>.</p>

<hr>

<h4>CodeGlance Pro</h4>

<p>Мини карта кода, полезна для быстрого перехода к нужной части страницы.</p>

<hr>

<h4>Scratch</h4>

<p>Позволяет добавлять заметки.<p>
<p>Горячие клавиши для создания заметок <kbd>Alt + C</kbd>, <kbd>Alt + A</kbd>.<br> Горячие клавиши для создания заметок
  <kbd>Alt + C</kbd>, <kbd>Alt + S</kbd></p>

<hr>

<h4>Cyan Theme Light</h4>

<p>Светлая тема.</p>

<p>Чтобы сменить тему, перейдем в настройки, в раздел <b>Appearance</b> и изменим тему в выпадающем меню <b>Theme</b>.
</p>

<hr>

<h4>Env file supports</h4>

<p>Поддержка env типа.</p>

<h3>Создание снипетов в PhpStorm</h3>

<p>Снипеты являются очень полезной функциональностью, которая позволяет создавать свои коротки наименования и
  разворачивать их в большие конструкции кода.</p>

<p>Чтобы создать снипет в <b>PhpStorm</b> перейдем в настройки <kbd>Ctrl + Alt + S</kbd> зайдем в раздел <b>Editor →
  Live Templates</b>. Выберем категорию в котором создадим снипет, например для <b>PHP</b>. Развернем этот пункт и к уже
  имеющемся по умолчанию списку снипетов добавим свой, нажав на <b>+</b>.</p>

<p>Выберем пункт <b>Live Template</b>.</p>

<p>В поле <b>Abbreviation</b> вводим короткую команду, которая будет символизировать нам конструкцию нашего кода.</p>

<p>В поле <b>Description</b> вводим краткое описание снипета, чтобы не забыть о чем этот снипет.</p>

<p>В поле <b>Template Text</b> вводим сам код. Например:</p>

{% capture code %}
&lt;?php
function ($MYTEXT$) {
  return false;
}
{% endcapture %}
{% include component/code.html lang='php' content=code %}

<p>Снипетом мы можем задавать некоторые переменные вида <b>$INDEX$</b>, текст может быть любой. Значение этих переменных
  будут заполняться в процессе развертывания снипета и переключения между переменными нажатием клавиши
  <b>Tab</b>.</p>

<h2><span class="attention">Вся</span> серия</h2>

{% include reference/linux-tutorial.html %}
