---
layout: post
title: 'Linux для начинающих с уклоном в веб разработку. Часть 2: Настройка дистрибутива Pop!_OS'
date: 2023-08-23 20:00 +0600
description: 'В этой части речь пойдет о настройке дистрибутива
<b>Pop!_OS</b>. Сделаем полную настройку дистрибутива, добавим горячие клавиши как в
<b>Windows</b>, кастомизируем внешний вид, добавим файл подкачки, настроим гибернацию и многое другое.'
image: cover.jpg
alt: Linux для начинающих - Часть 2
category: linux
tags: [linux, popos, кастомизация темы, гибернация, настройка]
published: true
sitemap: true
excerpt_separator: "<!--more-->"
---

<p>В этой части речь пойдет о настройке дистрибутива <b>Pop!_OS</b>. Сделаем полную настройку дистрибутива, добавим
  горячие клавиши как в <b>Windows</b>, кастомизируем внешний вид, добавим файл подкачки, настроим гибернацию и многое
  другое.</p>

<!--more-->

<h2><span class="attention">Оглавление</span> статьи</h2>

<ol>
  <li><a href="#intro">Вводная часть</a></li>
  <li><a href="#sign">Первый вход в систему</a></li>
  <li><a href="#timeshift">Первый бэкап через Timeshift</a></li>
  <li><a href="#nvidia">Настройка NVIDIA</a></li>
  <li><a href="#update">Обновление дистрибутива Pop!_OS</a></li>
  <li><a href="#setting">Параметры системы</a></li>
  <li><a href="#tweaks">Дополнительные параметры системы gnome-tweaks</a></li>
  <li><a href="#dconf">Дополнительные параметры системы dconf-editor</a></li>
  <li><a href="#template">Настройка шаблонов ярлыков</a></li>
  <li><a href="#desktop">Настройки рабочего стола</a></li>
  <li><a href="#extension">Установка расширений</a></li>
  <li><a href="#hibernation">Создание файла подкачки и настройка гибернации в Pop!_OS</a></li>
  <li><a href="#all">Вся серия</a></li>
</ol>

<h2 id="intro"><span class="attention">Вводная</span> часть</h2>

<p>Серия статей о том как безболезненно перейти с операционной системы <b>Windows</b> на <b>Linux</b> дистрибутив <b>Pop!_OS</b>,
  для разработки веб приложений и повседневного использования в качестве основной операционной системы.</p>

{% include reference/linux-tutorial.html %}

<h3>В предыдущей статье</h3>

<p>В предыдущей статье мы скачали образ дистрибутива и создали на его основе загрузочную флешку. Разметили жесткий диск
  в соответствии с требованиями дистрибутива. И на конец таки установили сам дистрибутив <b>Pop!_OS</b>.</p>

<h2 id="sign"><span class="attention">Первый</span> вход в систему</h2>

<p>При первом входе в систему нас встречает окно с первоначальными настройками. Можете попробовать попереключать радио
  кнопки и посмотреть что изменится. Любую из этих настроек можно будет в дальнейшем изменить так что не принципиально,
  что вы выберете.</p>

<p>Я же просто нажму несколько раз кнопку <b>Далее</b>, выберу светлую тему так как мне с ней комфортней работать и
  укажу название своего города, остальные пункты оставлю не тронутыми.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-1.jpg' type='original' alt='Окно завершения первоначальной
  настройки.' %}
  <figcaption>Готово.</figcaption>
</figure>

<h2 id="timeshift"><span class="attention">Первый</span> бэкап через Timeshift</h2>

<p>Перед тем как мы приступим к настройке дистрибутива давайте сделаем первый бэкап системы. Бэкап это важная часть в
  работе с <b>Linux</b> системами, в случае неуспешного обновления системы или установки сторонней программы всегда
  можно будет откатиться в рабочий бэкап системы.</p>

<p>Для бэкапа мы будем использовать программу <b>Timeshift</b>. По умолчанию она не предустановлена в дистрибутиве
  поэтому нужно будет ее установить самостоятельно, для этого откроем терминал, горячие клавиши <kbd>Windows + T</kbd> и
  введем команду, представленную ниже. Система запросит пароль вашей учетной записи, которая была создана при установки
  дистрибутива. Вводим пароль и нажимаем <kbd>Enter</kbd>, при вводе пароль не отображается, это нормально.</p>

{% include component/code.html lang='bash' content='sudo apt update -y && sudo apt install timeshift' %}

<p>Первая команда получит обновленные версии всех пакетов дистрибутива <b>Pop!_OS</b>, вторая установит программу <b>Timeshift</b>.
</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-2.jpg' type='original' alt='Ввод команды в терминале.' %}
  <figcaption>Первая команда получит обновленные версии всех пакетов дистрибутива <b>Pop!_OS</b>,<br> вторая установит
    программу <b>Timeshift</b>.
  </figcaption>
</figure>

<p>В последующих статьях мы детально разберем значение каждой команды.</p>

<p>Вот так быстро всего одной командой была установлена очень важная программа. Теперь откроем ее, нажав на клавишу
  <kbd>Windows</kbd> и введя в поиске слово <b>timeshift</b>.</p>

<p>Выберем тип снимков <b>RSYNC</b>. Далее необходимо указать жесткий диск на который будет производиться бэкап, у меня
  это диск <b>D</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-3.jpg' type='original' alt='Выбор типа снимков и диск для
  хранения бэкапов.' %}
  <figcaption>Выберем тип снимков <b>RSYNC</b>. Далее необходимо указать жесткий диск на который будет производиться
    бэкап.
  </figcaption>
</figure>

<p>Следующим шагом я отключаю планировщик бэкапа по времени, обычно я предпочитаю делать бэкап вручную, например перед
  обновлением системы. Затем просто нажимаем кнопку <b>Далее</b> несколько раз до полного завершения настройки.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-4.jpg' type='original' alt='Отключение бэкапов по времени,
  завершение настройки Timeshift.' %}
  <figcaption>Отключаю планировщик бэкапа по времени, обычно я предпочитаю делать бэкап вручную, например перед
    обновлением системы.
  </figcaption>
</figure>

<p>Прежде чем мы приступим к созданию бэкапа я обычно добавляю некоторые каталоги в список исключений, чтобы они не
  попадали в бэкап. Для это нажимаем <b>Настройки (шестеренка)</b>, выбираем пункт <b>Фильтры</b> и добавляем новый
  шаблон, который имеет следующий вид:<br> <b>/путь/до/каталога/**</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-5.jpg' type='original' alt='Исключение директории из бэкапа'
  %}
  <figcaption>Добавляю некоторые каталоги в список исключений, чтобы они не попадали в бэкап.</figcaption>
</figure>

<p>Жмем <b>Ок</b>, выходим из настроек и нажимаем на кнопку <b>Создать</b>, для того чтобы сделать бэкап. После того как
  бэкап будет готов ему можно задать в поле <b>Comments</b> произвольное описание, например <b>clear install</b>, чтобы
  понимать о чем этот бэкап.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-6.jpg' type='original' alt='Создание бэкапа' %}
  <figcaption>После того как бэкап будет готов ему можно задать в поле <b>Comments</b> произвольное описание, например
    <b>clear install</b>.
  </figcaption>
</figure>

<h3>Восстановление бэкапа Timeshift</h3>

<p>Если походу следования статьи у вас что-то пойдет не так, вы всегда сможете откатиться на предыдущую версию. Для
  этого введите в терминале следующую команду.</p>

{% capture code %}
Select snapshot:

Num     Name                 Tags  Description
------------------------------------------------------------------------------
0    >  2023-08-21_16-35-59  O     clear install
1    >  2023-08-22_09-56-14  O     settings system
2    >  2023-08-22_11-36-48  O     hibernation
3    >  2023-08-23_09-05-25  O     program
4    >  2023-08-23_09-44-28  O     update system

Enter snapshot number (a=Abort, p=Previous, n=Next): 4
{% endcapture %}

{% include component/code.html lang='bash' content='sudo timeshift --restore' %}

<p>Введите цифру, соответствующую бэкапу на который вы хотите откатиться.</p>

<pre><code>{{ code }}</code></pre>

<ul>
  <li>Чтобы продолжить нажмите <kbd>Enter</kbd></li>
  <li>На вопрос <b>Re-install GRUB2 bootloader?</b> Введите <b>Y</b> и нажмите <kbd>Enter</kbd></li>
  <li>На вопрос <b>Select GRUB device:</b> Нажмите <kbd>Enter</kbd></li>
  <li>На вопрос <b>Continue with restore?</b> Введите <b>Y</b> и нажмите <kbd>Enter</kbd></li>
</ul>

<p>Советую восстановление делать всегда из терминала, так как восстановление через графический интерфейс не всегда
  проходит гладко.</p>

<p>После проделанных манипуляция компьютер должен перезагрузиться. Если на экране написано, что бэкап успешно
  восстановлен, но компьютер не перезапустился, сделайте это вручную.</p>

<h2 id="nvidia"><span class="attention">Настройка</span> NVIDIA</h2>

<p>Иногда настройки <b>NVIDIA</b> не корректно ставятся при установке дистрибутива и требуется проделать определенные
  манипуляции, чтобы их подкорректировать. Нажмем клавишу <kbd>Windows</kbd> и в поле поиска вводим слово <b>nvidia</b>.
  При некорректной настройки можно наблюдать следующую картину.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-7.jpg' type='original' alt='Некорректные настройки NVIDIA'
  %}
  <figcaption>При некорректной настройки можно наблюдать следующую картину.</figcaption>
</figure>

<p>Теперь давайте внесем корректировку в работу драйверов <b>NVIDIA</b>. Откроем терминал нажав <kbd>Windows + T</kbd> и
  введем следующую команду. Предварительно сохраните открытые файлы так как произойдет перезагрузка системы.</p>

{% include component/code.html lang='bash' content='sudo system76-power graphics nvidia && reboot' %}

<p>После перезагрузки системы еще раз откроем настройки <b>NVIDIA</b> и сравним полученный результат с предыдущим.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-8.jpg' type='original' alt='Корректные настройки NVIDIA' %}
  <figcaption>И сравним полученный результат с предыдущим.</figcaption>
</figure>

<p>Как видим появился целый пласт недоступных доселе настроек.</p>

<p>Перейдем в пункт <b>X Server Display Configuration</b>, нажмем на кнопку <b>Advanced</b> и поставим галочки пунктам
  <b>Force Composition Pipline</b> и <b>Force Full Composition Pipline</b>.</p>

<p>Перейдем в пункт <b>OpenGL Settings</b> и снимем галочку с пункта <b>Allow Flipping</b>.</p>

<p>Данные настройки позволяют отображать картинку на мониторе более плавно, без фризов и дерганий, а так же улучшат
  картинку для стриминга.</p>

<h2 id="update"><span class="attention">Обновление</span> дистрибутива Pop!_OS</h2>

<p>Важно поддерживать операционную систему в актуальном состоянии, регулярно обновляя ее. Обновление способствуют
  улучшению производительности, устранению дыр в безопасности, получение новых версий программ и т.п. Поэтому следующим
  шагом будет обновление дистрибутива <b>Pop!_OS</b>.</p>

<p>Откроем знакомый нам терминал нажав <kbd>Windows + T</kbd> и введем следующие команды. Предварительно сохраните
  открытые файлы так как произойдет перезагрузка системы.</p>

{% include component/code.html lang='bash' content='sudo apt update -y && sudo apt full-upgrade -y && sudo apt autoremove -y && sudo apt autoclean -y && reboot' %}

<p><b>sudo apt update</b> - обновляет версии всех пакетов дистрибутива<br>
  <b>sudo apt full-upgrade</b> - устанавливает обновления и удаляет пакеты которые необходимо удалить в процессе
  установки нового обновления<br>
  <b>sudo apt autoremove</b> - удаляет зависимости которые были установлены и больше не используются<br>
  <b>sudo apt autoclean</b> - очищает файлы кэша
</p>

<p>После перезагрузки системы хорошо было бы сделать очередной бэкап, но это уже на ваше усмотрение. Вообще советую
  походу следования статьи делать периодически бэкап. Не нужные бэкапы в любой момент можно удалить.</p>

<h2 id="setting"><span class="attention">Параметры</span> системы</h2>

<p>Нажмем клавишу <kbd>Windows</kbd> и введем <b>Параметры</b> и зайдем в соответствующее приложение. Пройдемся по всем
  разделам по порядку.</p>

<h3>Wi-Fi</h3>

<p>В этом разделе происходит подключение к <b>Wi-Fi</b> точке. Выбираем нужную точку и вводим пароль, все просто.</p>

<hr>

<h3>Сеть</h3>

<p>В этом разделе происходит настройка сетевых карт, а также подключение <b>VPN</b>.</p>

<hr>

<h3>Bluetooth</h3>

<p>В этом разделе происходит настройка подключения к устройствам по <b>Bluetooth</b>.</p>

<hr>

<h3>Desktop</h3>

<p>Частично мы уже сталкивались с настройками этого раздела когда впервые загрузили дистрибутив. Именно этот раздел
  отвечает за внешний вид док панели (панель пуск в <b>Windows</b>).</p>

<h4>Desktop Options</h4>

<p><b>Super Key Action</b> - Настраивает что будет происходить по нажатию на клавишу <b>Windows</b>. По умолчанию
  появляется поиск программ.</p>

<p><b>Hot Corner</b> - Позволяет активировать <b>Workspaces</b> при наведении курсора мыши в левый верхний угол экрана.
  Обычно этот пункт оставляю без изменения.</p>

<p><b>Top Bar</b> - Добавляет/убирает некоторые функции из верхнего меню, а также перемещает время в разные позиции.
  Обычно этот пункт оставляю без изменения.</p>

<p><b>Windows Controls</b> - Добавляет/убирает кнопки скрыть, развернуть окно. Обычно этот пункт оставляю без
  изменения.</p>

<h4>Фон</h4>

<p>Изменение обоев на рабочем столе.</p>

<h4>Внешний вид</h4>

<p>Светлая/темная тема системы.</p>

<h4>Панель задач</h4>

<p>Позволяет кастомизировать внешний вид док панели. Не важно как вы ее кастомизируйте в дальнейшем мы ее все равно
  заменим на другую док панель, более функциональную.</p>

<h4>Рабочие столы</h4>

<p>Настройка рабочих окружений. Если нажать в левом верхнем углу на <b>Workspaces</b> можно увидеть, что слева
  отображаются некие окна. Это и есть рабочие окружения, для каждого окружения можно открыть свой набор программ и потом
  переключаться между ними не загромождая одну рабочую область множеством открытых окон.</p>

<hr>

<h3>Уведомления</h3>

<p>В этом разделе можно включить/отключить уведомление от конкретной программы либо от всех программ сразу.</p>

<hr>

<h3>Приложения</h3>

<p>В этом разделе можно включить/отключить уведомление от конкретной программы, а также настроить тип файлов которые эта
  программа должна открывать.</p>

<hr>

<h3>Конфиденциальность</h3>

<p>В этом разделе настраивается хранение истории о посещенных, удаленных файлах, о блокировки экрана и прочее.</p>

<h4>Соединение</h4>

<p>В этом разделе настраивается проверка состояния соединений. Обычно эту функцию я отключаю.</p>

<h4>Сервисы местоположения</h4>

<p>В этом разделе настраиваются приложения позволяющие определить ваше местоположение.</p>

<h4>Thunderbolt</h4>

<p>Ни когда не использовал этот раздел.</p>

<h4>История файлов и корзина</h4>

<p>В этом разделе настраиваются хранить ли историю посещения файлов, продолжительность хранения. Очистка временных
  файлов, корзины чрез определенное время.</p>

<h4>Экран</h4>

<p>В этом разделе выключение, блокировка экрана через определенное время бездействия пользователя.</p>

<hr>

<h3>Сетевые учетные записи</h3>

<p>В этом разделе настраивается доступ к Google диску, почте и другим сервисам.</p>

<hr>

<h3>Общий доступ</h3>

<p>В этом разделе настраивается общий доступ к сетевому каталогу. Обычно меняю имя компьютера с <b>pop-os</b> на свое
  название. Если вы хотите обмениваться файлами с другими компьютерами внутри локальной сети, то включите в правом
  верхнем углу переключатель.</p>

<p>Нажмите на <b>Общий доступ к мультимедиа</b>, в левом верхнем углу активируйте переключатель. В разделе <b>Папки</b>
  удалим ненужные и укажем нужные каталоги к которым будет предоставлен общий доступ по сети.</p>

<hr>

<h3>Звук</h3>

<p>В этом разделе настраивается звуковая карта. Обычно активирую переключатель <b>Увеличение максимальной
  громкости</b>, для того чтобы звук можно было еще немного повысить. И отключаю микрофон.</p>

<hr>

<h3>Электропитание</h3>

<p>В этом разделе настраивается энергосберегающий режим. Обычно активирую переключатель <b>Показать процент заряда
  батареи</b> и корректирую значения раздела <b>Автоматический режим ожидания</b>.</p>

<hr>

<h3>Дисплей</h3>

<p>В этом разделе настраивается разрешение экрана, режим дисплея если у вас два монитора и другие настройки. У меня два монитора поэтому обычно в этом разделе устанавливаю <b>Основной дисплей</b>, и порядок следования дисплеев друг за другом.</p>

<hr>

<h3>Мышь и сенсорная панель</h3>

<p>В этом разделе настраивается мышь и тачпад. Обычно меняю скорость мыши и отмечаю пункт <b>Right-Click with Click in
  Bottom Right Corner or Two Finger Tap</b> для того чтобы можно было вызывать контекстное меню по нажатию правой
  кнопкой мыши по рабочему столу.</p>

<hr>

<h3>Клавиатура</h3>

<p>В этом разделе настраивается клавиатура. Обычно добавляю русскую раскладку и кастомизирую <b>Комбинацию клавиш</b>.
  Переключение с раскладки происходит нажатием горячих клавиш <kbd>Window + Space</kbd>.</p>

<p>Нажмем на <b>Комбинация клавиш</b>. При назначении горячих клавиш удостоверьтесь, что у вас активна <b>английская
  раскладка</b>. Горячие клавиши будем назначать с соответствием того как они назначены в <b>Windows</b>.</p>

<h4>Окна</h4>

<p><b>Разделитель слева</b> - позволяет прилепить активное окно к левому краю экрана.<br>
  <b>Горячие клавиши:</b> <kbd>Window + стрелка влево</kbd>
</p>

<p><b>Разделитель справа</b> - позволяет прилепить активное окно к правому краю экрана.<br>
  <b>Горячие клавиши:</b> <kbd>Window + стрелка вправо</kbd>
</p>

<h4>Перемещение</h4>

<p><b>Скрыть все обычные окна</b> - позволяет одним нажатие горячих клавиш скрыть все окна, очень удобно если нужно
  быстро получить доступ к рабочему столу.<br>
  <b>Горячие клавиши:</b> <kbd>Window + D</kbd>
</p>

<h4>Система</h4>

<p><b>Заблокировать экран</b> - позволяет одним нажатие горячих клавиш заблокировать экран, очень удобно если необходимо
  отлучиться от компьютера.<br>
  <b>Горячие клавиши:</b> <kbd>Window + L</kbd>
</p>

<h4>Дополнительные комбинации клавиш</h4>

<p>Позволяет назначить горячие клавиши на определенные команды.</p>

<p><b>Открытие проводника в указанном каталоге:</b><br>
  <b>Команда:</b> nautilus -w /home<br>
  <b>Горячие клавиши:</b> <kbd>Super + E</kbd>
</p>

<p><b>Диспетчер задач:</b><br>
  <b>Команда:</b> gnome-system-monitor<br>
  <b>Горячие клавиши:</b> <kbd>Ctrl + Shift + Esc</kbd>
</p>

<hr>

<h3>Принтеры</h3>

<p>В этом разделе происходит установка периферийных устройств.</p>

<hr>

<h3>Съемный носитель</h3>

<p>В этом разделе происходит настройка действий по умолчанию для вставленных, переносных устройств, таких как флешка,
  компакт-диск. Обычно ничего не нужно менять.</p>

<hr>

<h3>Цвет</h3>

<p>В этом разделе происходит настройка цветовых профилей. Обычно ничего не нужно менять.</p>

<hr>

<h3>Firmware</h3>

<p>В этом разделе содержатся настройка драйверов нестандартных подключенных устройств, которые не могут быть распознаны
  и установлены автоматически дистрибутивом.</p>

<hr>

<h3>Регион и язык</h3>

<p>В этом разделе содержатся настройка по управлению языка системы. Обычно ничего не нужно менять.</p>

<hr>

<h3>Доступность</h3>

<p>В этом разделе содержатся настройки для людей с ограниченными возможностями. В частности мы затронем эту тему в <a
  href="{{ site.baseurl }}/blog/2023-08-24-linux-dlya-nachinayushhih-chast-3-soft-dlya-povsednevnyh-zadach-linux.html#screen-reader"
  target="_blank">следующей статье</a>.</p>

<hr>

<h3>Пользователи</h3>

<p>В этом разделе содержится профиль активного пользователя, можно изменить имя, пароль или создать нового пользователя.
  Обычно меняю аватар пользователю.</p>

<hr>

<h3>Приложения по умолчанию</h3>

<p>В этом разделе можно изменить приложение, которое будет открывать тот или иной тип программы. Обычно ставлю в
  качестве браузера по умолчанию <b>Chrome</b>, в качестве видео проигрывателя <b>VLC</b> и в качестве музыкального
  проигрывателя <b>Lollypop</b>.</p>

<p>Если у вас нет в списке каких либо из указанных программ, то в <a
  href="{{ site.baseurl }}/blog/2023-08-24-linux-dlya-nachinayushhih-chast-3-soft-dlya-povsednevnyh-zadach-linux.html"
  target="_blank">следующей статье</a> мы их установим.</p>

<hr>

<h3>Дата и время</h3>

<p>В этом разделе можно изменить дату и время. Обычно изменяю формат времени с 12 часов на 24.</p>

<hr>

<h3>OS Upgrade & Recovery</h3>

<p>В этом разделе можно получить образ для восстановления системы. Помните при разметке диска мы создали раздел <b>/recovery</b>.
  Именно туда будет происходить скачивание восстанавливающего образа. В случаи поломки системы мы сможем восстановить ее
  не потеряв свои файлы, хранящиеся в пользовательском каталоге.</p>

<hr>

<h3>Support и О системе</h3>

<p>Ознакомительные разделы, их не нужно настраивать.</p>

<h2 id="tweaks"><span class="attention">Дополнительные</span> параметры системы gnome-tweaks</h2>

<p>Можно получить доступ к еще большему количеству настроек системы, но для этого необходимо будет установить
  дополнительную программу <b>gnome-tweaks</b>.</p>

<p>Откроем терминал нажав горячие клавиши <kbd>Windows + T</kbd> и ведем команду.</p>

{% include component/code.html lang='bash' content='sudo apt install gnome-tweaks' %}

<p>Нажмем клавишу <kbd>Windows</kbd> и введем в поле поиска слово <b>Дополнительные настройки</b>. Рассмотрим часто
  используемые разделы.</p>

<h3>Автозапуск</h3>

<p>Сюда добавляются программы которые мы хотим открывать автоматически после загрузки системы.</p>

<hr>

<h3>Верхняя панель</h3>

<p>Используется для изменения вывода даты и времени.</p>

<hr>

<h3>Внешний вид</h3>

<p>Используется при кастомизации темы.</p>

<hr>

<h3>Клавиатура и мышь</h3>

<p>Можно задать дополнительные параметры раскладки, например изменить переключение раскладки на горячие клавиши <kbd>Shift
  + Alt</kbd>. Но я настоятельно не рекомендую этого делать так как в дальнейшем будут проблемы с другими горячими
  клавишами использующие <kbd>Shift</kbd> и <kbd>Ctrl</kbd>. Лучше привыкнуть к переключению <kbd>Window + Space</kbd>.
</p>

<hr>

<h3>Окна</h3>

<p>Различные настройки для повидение открытого окна. Обычно активирую пункт <b>Центрировать новые окна</b>.</p>

<hr>

<h3>Шрифты</h3>

<p>Используется при кастомизации темы совместно с разделом <b>Внешний вид</b>.</p>

<h2 id="dconf"><span class="attention">Дополнительные</span> параметры системы dconf-editor</h2>

<p>Можно получить доступ к еще большему количеству настроек системы, но для этого необходимо будет установить
  дополнительную программу <b>dconf-editor</b>. С помощью данной программы мы сможем разнообразить переключение между
  открытыми приложениями посредством клавиш <b>Window + Tab</b> и <b>Alt + Tab</b>. По аналогии как в Windows. </p>

{% include component/code.html lang='bash' content='sudo apt install dconf-editor' %}

<p>Нажмем клавишу <kbd>Windows</kbd> и введем в поле поиска слово <b>Редактор dconf</b>. Далее необходимо нажать горячие
  клавиши <kbd>Ctrl + L</kbd> и ввести в поле ввода <b>/org/gnome/desktop/wm/keybindings</b>.</p>

<p>Находим раздел <b>switch-applications</b> и заходим в него. Деактивируем переключатель <b>Использовать значение по
  умолчанию</b>, если не удастся это сделать через клик мыши попробуйте нажатием клавиши <kbd>Tab</kbd> добраться до
  этого переключателя и нажать на клавишу <kbd>Пробел</kbd> для переключения.</p>

<p>Вырезаем из поля <b>Пользовательское значение</b> параметр <b>'&lt;Alt&gt;Tab'</b>. Перейдем на уровень ниже,
  нажимаем <kbd>Ctrl + L</kbd> и вводим <b>/org/gnome/desktop/wm/keybindings/switch-windows</b>. Также деактивируем
  переключатель <b>Использовать значение по умолчанию</b> и между <b>[] скобок</b> вставляем вырезанный фрагмент <b>['&lt;Alt&gt;Tab']</b>.
</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-9.jpg' type='original' alt='Настраиваем переключение окно по
  нажатию на клавишу Tab' %}
  <figcaption>Также деактивируем переключатель <b>Использовать значение по умолчанию</b> и между <b>[] скобок</b>
    вставляем вырезанный фрагмент <b>['&lt;Alt&gt;Tab']</b>.
  </figcaption>
</figure>

<p>Следующий раздел который необходимо отредактировать будет <b>current-workspace-only</b>, нажимаем <kbd>Ctrl + L</kbd>
  и вставляем <b>/org/gnome/shell/window-switcher/current-workspace-only</b>. Деактивируем переключатель пункта <b>current-workspace-only</b>.
</p>

<p>Теперь откройте два любых окна и попробуйте переключиться между ними клавишами <kbd>Alt + Tab</kbd> и <kbd>Window +
  Tab</kbd>. Первый вариант переключает между окнами не компонуя их общему признаку, второй переключает компонуя.</p>

<p>Если при переключении не заметно разницы, попробуйте перезапустить компьютер, для того чтобы изменения вступили в
  силу.</p>

<h2 id="template"><span class="attention">Настройка</span> шаблонов ярлыков</h2>

<p>В Windows при нажатии правой кнопкой мыши есть удобный функционал создания ярлыков программ, например <b>word</b>,
  <b>excel</b> и т.п. Повторим его в <b>Linux</b> дистрибутиве <b>Pop!_OS</b>.</p>

<p>Перейдем в каталог пользователя (<b>Домашняя папка</b>) и откроем каталог <b>Шаблоны</b>. Нажимаем правой кнопкой
  мыши по свободной области каталога и выбираем пункт <b>Открыть в терминале</b>. Вводим команду создания текстового
  файла.</p>

{% include component/code.html lang='bash' content='touch txt.txt' %}

<p>Затем нажимаем клавишу <b>Window</b> и в поисковой строке вводим слово <b>word</b> открываем приложение <b>LibreOffice
  Writer</b>. Жмем в левом верхнем углу на пункт <b>Файл -> Сохранить как</b> и сохраняем файл в каталог <b>Шаблоны</b>
  с расширением <b>docx</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-10.jpg' type='original' alt='Создаем шаблон файла docx' %}
  <figcaption>Жмем в левом верхнем углу на пункт <b>Файл -> Сохранить как</b> и сохраняем файл в каталог <b>Шаблоны</b>
    с расширением <b>docx</b>.
  </figcaption>
</figure>

<p>Аналогично поступаем с файлом формата <b>excel</b>. Нажимаем клавишу Window, в поисковой строке вводим слово
  <b>excel</b>, открываем приложение <b>LibreOffice Calc</b>. Жмем в левом верхнем углу на пункт <b>Файл -> Сохранить
    как</b> и сохраняем файл в каталог <b>Шаблоны</b> с расширением <b>xlsx</b>.</p>

<p>Должно получиться следующее.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-11.jpg' type='original' alt='Список различных созданных
  шаблонов' %}
  <figcaption>Жмем в левом верхнем углу на пункт <b>Файл -> Сохранить как</b> и сохраняем файл в каталог <b>Шаблоны</b>
    с расширением <b>xlsx</b>.
  </figcaption>
</figure>

<p>Теперь кликнем правой кнопкой мыши внутри какого нибудь каталога и в контекстном меню выберем <b>Создать документ</b>,
  где в перечне доступных документов будут красоваться нами добавленные файлы.</p>

<h2 id="desktop"><span class="attention">Настройки</span> рабочего стола</h2>

<p>Мы можем изменить размер иконок, настроить отображение съемных дисков и прочего на рабочем столе. Для этого нажмем по рабочему столу правой кнопкой мыши и в контекстном меню выберем пункт <b>Параметры Desktop Icons</b>. Настроим его следующим образом.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-12.jpg' type='original' alt='Настройки рабочего стола' %}
  <figcaption>Для этого нажмем по рабочему столу правой кнопкой мыши и в контекстном меню выберем пункт <b>Параметры
    Desktop Icons</b>.
  </figcaption>
</figure>

<h2 id="extension"><span class="attention">Установка</span> расширений</h2>

<p>В целом внешний вид дистрибутива <b>Pop!_OS</b> довольно привлекателен и можно оставить все как есть. Но я бы хотел
  показать небольшой пример кастомизации рабочего окружения.</p>

<h3>Расширение Dash to Panel</h3>

<p>Данное расширение позволит кастомизировать внешний вид док панели.</p>

<p>Перейдем на <a href="https://extensions.gnome.org/" target="_blank" rel="nofollow">официальный сайт</a> расширений
  для <b>Gnome</b> окружения, именно такое окружение рабочего стола у дистрибутива <b>Pop!_OS</b>.</p>

<p>Установим в браузер расширение которое позволит нам интегрировать в дистрибутив другие различные расширения. Для
  этого нажмем на ссылку <b>Click here to install browser extension</b> и добавим расширение в браузер.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-13.jpg' type='original' alt='Установка расширение в Chrome'
  %}
  <figcaption>Для этого нажмем на ссылку <b>Click here to install browser extension</b> и добавим расширение в браузер.
  </figcaption>
</figure>

<p>После чего введем в поле поиска слово <a href="https://extensions.gnome.org/extension/1160/dash-to-panel/" target="_blank" rel="nofollow">Dash to Panel</a>, переходим по первой
  найденной ссылке от автора <b>charlesg99</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-14.jpg' type='original' alt='Установка расширения Dash to
  Panel для Gnome' %}
  <figcaption>Введем в поле поиска слово <b>Dash to Panel</b>.</figcaption>
</figure>

<p>В правом верхнем углу будет переключатель <b>Off</b>, изменим его в положение <b>On</b>, произойдет установка
  расширения в дистрибутив <b>Pop!_OS</b>. Можем заметить что у нас поменялась док панель и исчезло верхнее меню, где
  располагалось время.</p>

<p>Теперь приступим к кастомизации нашей новой док панели, сейчас она больше похожа на панель пуска в <b>Windows</b>.
</p>

<p>Первым делом нужно отключить стандартную док панель, чтобы она не пересекалась с нашей новой, установленной. Для
  этого нажмем клавишу <kbd>Window</kbd> и в поле поиска введем слово <b>расширения</b>, откроем настройщик <b>Расширения</b>.
  Найдем в представленном списке расширений, расширение <b>Cosmic Dock</b> и отключим его нажав на соответствующий
  переключатель напротив названия расширения.</p>

<p>Следующим шагом будет настройка новой, установленной док панели. В том же окне с расширениями найдем <b>Dash to
  Panel</b> и нажмем на кнопку <b>Настройки</b>. Интерфейс содержит множество различных настроек, все они интуитивно
  довольно понятны. По переключайте их и посмотрите как изменится внешний вид док панели.</p>

<p>У меня же получились следующие настройки.</p>

<h4>Вкладка Position</h4>

<figure>
  {% include component/picture.html slug=page.slug img='img-15.jpg' type='original' alt='Настройки вкладки Position' %}
  <figcaption>Настройки вкладки Position.</figcaption>
</figure>

<h4>Вкладка Style</h4>

<figure>
  {% include component/picture.html slug=page.slug img='img-16.jpg' type='original' alt='Настройки вкладки Style' %}
  <figcaption>Настройки вкладки Style.</figcaption>
</figure>

<h4>Вкладка Behavior</h4>

<figure>
  {% include component/picture.html slug=page.slug img='img-17.jpg' type='original' alt='Настройки вкладки Behavior' %}
  <figcaption>Настройки вкладки Behavior.</figcaption>
</figure>

<h4>Вкладка Action</h4>

<figure>
  {% include component/picture.html slug=page.slug img='img-18.jpg' type='original' alt='Настройки вкладки Action' %}
  <figcaption>Настройки вкладки Action.</figcaption>
</figure>

<h4>Вкладка Fine-Tune</h4>

<figure>
  {% include component/picture.html slug=page.slug img='img-19.jpg' type='original' alt='Настройки вкладки Fine-Tune' %}
  <figcaption>Настройки вкладки Fine-Tune.</figcaption>
</figure>

<p>После того как внешний вид панели приведен в более менее надлежащий вид, откроем <b>Дополнительные настройки</b>,
  нажав клавишу <kbd>Window</kbd> и введя аналогичное название. Перейдем в раздел <b>Верхняя панель</b> и деактивируем
  переключатель <b>Дата</b>, а переключатель <b>День недели</b> активируем. В итоге время на док панели будет выглядеть
  следующим образом.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-20.jpg' type='original' alt='Время на док панели' %}
  <figcaption>В итоге время на док панели будет выглядеть следующим образом.</figcaption>
</figure>

<p>Так же я предпочитаю убрать из док панели некоторые иконки системных программ. Для этого нажимаем клавишу <kbd>Windows</kbd>
  и в поле поиска вводим слово <b>Параметры</b>, открываем <b>параметры</b>, переходим в раздел <b>Desktop</b>, далее
  <b>Панель задач</b> и в настройках <b>Dock Options</b> деактивируем переключатели <b>Show Launcher Icon in Dock</b> и
  <b>Show Workspaces Icon in Dock</b>.</p>

<p>Готово, мы закончили с настройкой расширения <b>Dash to Panel</b>.</p>

<h3>Расширение Vitals</h3>

<p>Данное расширение позволит мониторить состояние системы (нагрузка на <b>ЦПУ</b>, <b>ОЗУ</b>, <b>скорость
  интернета</b> и прочее) на док панели.</p>

<p>Перейдем на <a href="https://extensions.gnome.org/" target="_blank" rel="nofollow">официальный сайт</a> расширений
  для <b>Gnome</b> окружения. Вводим в поле поиска слово
  <a href="https://extensions.gnome.org/extension/1460/vitals/" target="_blank" rel="nofollow">Vitals</a> переходим по
  первой найденной ссылке от автора <b>corecoding</b>.</p>

<p>В правом верхнем углу будет переключатель <b>Off</b>, изменим его в положение <b>On</b>, произойдет установка
  расширения в дистрибутив <b>Pop!_OS</b>. Можем заметить что в док панель добавился новый виджет.</p>

<p>Переместим его в левую сторону и дополнительно настроим. Для этого нажмем клавишу <kbd>Window</kbd>, введем слово <b>Расширения</b>
  и перейдем в настройки <b>Vitals</b>.</p>

<p>У меня получились вот такие настройки.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-21.jpg' type='original' alt='Настройка виджета Vitals' %}
  <figcaption>У меня получились вот такие настройки.</figcaption>
</figure>

<p>Далее нажав на виджет <b>Vitals</b> в док панели, добавляем <b>Процессор</b>, для этого нажимаем по слову <b>Процессор</b>
  и выбираем параметр <b>Использование</b>. То же самое делаем с параметром <b>Система</b> только его убираем. Итого
  теперь мы можем мониторить <b>ЦПУ</b>, <b>ОЗУ</b> и <b>скорость интернета</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-22.jpg' type='original' alt='Итог настройки виджета Vitals'
  %}
  <figcaption>Итого теперь мы можем мониторить <b>ЦПУ</b>, <b>ОЗУ</b> и <b>скорость интернета</b>.</figcaption>
</figure>

<h3>Расширение Media Controls</h3>

<p>Данное расширение позволит работать с медиа через док панель, например переключать, ставить на паузу музыку,
  видео.</p>

<p>Перейдем на <a href="https://extensions.gnome.org/" target="_blank" rel="nofollow">официальный сайт</a> расширений
  для <b>Gnome</b> окружения. Вводим в поле поиска слово
  <a href="https://extensions.gnome.org/extension/4470/media-controls/" target="_blank" rel="nofollow">Media
    Controls</a> переходим по первой найденной ссылке от автора <b>cliffniff</b>.</p>

<p>В правом верхнем углу будет переключатель <b>Off</b>, изменим его в положение <b>On</b>, произойдет установка
  расширения в дистрибутив <b>Pop!_OS</b>. Можем заметить что в док панель добавился новый виджет. Если виджет не
  появился запустите какое-либо медиа, например откройте видео в <b>YouTube</b>. Если и это не помогло тогда нажмем на
  клавишу <kbd>Windows</kbd>, введем слово <b>Расширения</b> и зайдем в него. Откроем настройки <b>Dash to Panel</b> и
  сделаем <b>Центральный блок</b> видимым. Теперь <b>Media Controls</b> должен появиться на док панели.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-23.jpg' type='original' alt='Внешний вид по умолчанию
  виджета Media Controls' %}
  <figcaption>Теперь <b>Media Controls</b> должен появиться на док панели.</figcaption>
</figure>

<p>Можно приступить к кастомизации внешнего вида виджета. Зайдем в настройки расширения <b>Media Controls</b>. Перейдем
  в раздел <b>Visibility</b> и настроим его следующим образом.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-24.jpg' type='original' alt='Настройка виджета Media
  Controls вкладка Visibility' %}
  <figcaption>Перейдем в раздел <b>Visibility</b> и настроим его следующим образом.</figcaption>
</figure>

<p>Перейдем в раздел <b>Position</b> и настроим его следующим образом.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-25.jpg' type='original' alt='Настройка виджета Media
  Controls вкладка Position' %}
  <figcaption>Перейдем в раздел <b>Position</b> и настроим его следующим образом.</figcaption>
</figure>

<p>Мы завершили настройку, виджет <b>Media Controls</b> готов к работе.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-26.jpg' type='original' alt='Окончательный внешний вид
  виджета Media Controls' %}
  <figcaption>Виджет <b>Media Controls</b> готов к работе.</figcaption>
</figure>

<h3>Расширение Alt+Tab Scroll Workaround</h3>

<p>Начиная еще с дистрибутива <b>Ubuntu</b> была проблема c медленным скроллом страниц в браузере, которая перешла и в
  <b>Pop!_OS</b>. Приходилось очень много и интенсивно крутить колесо мыши, чтобы проскролить страницу. Чтобы решить эту
  проблему я устанавливал расширение для браузера, позволяющее увеличить скорость скролла. Правил внутренние конфиги
  системы.</p>

<p>С очередным обновлением системы, <b>Pop!_OS</b> устранила проблему с медленным скроллом, но появилась другая
  проблема. Теперь если открыты одновременно браузер и редактор кода <b>VSCode</b> либо <b>PHP Storm</b>, то при
  переключении между окнами и прокруткой, происходит резкий скачек страницы. Что создает массу не удобств так как
  контекст страницы теряется и приходится скроллить, чтобы вернуться к нему.</p>

<p>В сети я нашел <a href="https://github.com/lucasresck/gnome-shell-extension-alt-tab-scroll-workaround"
                     target="_blank" rel="nofollow">одно решение</a> которое позволяет исправить это не правильное
  поведение. Необходимо установить расширение
  <a href="https://extensions.gnome.org/extension/5282/alttab-scroll-workaround/" target="_blank" rel="nofollow">Alt+Tab Scroll Workaround</a>.</p>

<p>Теперь проблема с прыгающим скроллом должна решиться.</p>

<h2 id="hibernation"><span class="attention">Создание</span> файла подкачки и настройка гибернации в Pop!_OS</h2>

<p>Файл подкачки расширяет возможности стандартной, физической памяти <b>ОЗУ</b>. Когда операционной системе не хватает
  оперативной памяти, то используется файл подкачки.</p>

<p>Гибернация очень удобна когда открыто множество файлов и программ и нам необходимо выключить компьютер, но мы бы не
  хотели заново все файлы и программы открывать. <b>Гибернация</b> как раз таки позволяет нам отключить компьютер с
  сохранением состояния нашего рабочего стола, со всеми открытыми программами, каталогами и файлами. Это как улучшенный
  ждущий режим.</p>

<h3>Создание файла подкачки в Pop!_OS</h3>

<p>Откроем терминал <kbd>Window + T</kbd> и далее следуем инструкции.</p>

<p>Проверим, поддерживает ли ядро системы <b>гибернацию</b>, в списке должен присутствовать вариант <b>disk</b>.</p>

{% include component/code.html lang='bash' content='cat /sys/power/state' %}

<p>Проверим доступен ли файл или раздел подкачки.</p>

{% include component/code.html lang='bash' content='free -h' %}

<figure>
  {% include component/picture.html slug=page.slug img='img-27.jpg' type='original' alt='Результат выполнения команды
  free -h' %}
  <figcaption>Результат выполнения команды free -h.</figcaption>
</figure>

<p>Если при вводе команды <b>free -h</b> файл подкачки присутствует, его следует удалить. Для этого необходимо найти путь по которому расположен файл подкачки, затем отключить его.</p>

{% capture code %}
sudo swapon --show
sudo swapoff /dev/zram0
{% endcapture %}

<p>Теперь можно приступить к созданию своего файла подкачки. Может возникнуть вопрос для чего удалять уже готовый файл
  подкачки и создавать другой. Это делается для того, чтобы в дальнейшем мы смогли настроить <b>гибернацию</b>. К
  сожалению со стандартным файлом подкачки у меня это не получилось сделать.</p>

<p>Создадим файл подкачки. Рекомендуемый размер файла подкачки должен быть равен размеру вашей оперативной памяти
  <b>ОЗУ</b>. Например, у меня размер <b>ОЗУ</b> составляет <b>16Гб</b>, соответственно я создам файл подкачки равной
  этой памяти.</p>

{% include component/code.html lang='bash' content='sudo fallocate -l 16G /swapfile' %}

<p>Добавляем для созданного файла подкачки права на чтение/запись.</p>

{% include component/code.html lang='bash' content='sudo chmod 600 /swapfile' %}

<p>Форматируем файл подкачки как swap.</p>

{% include component/code.html lang='bash' content='sudo mkswap /swapfile' %}

<p>Активируем файл подкачки.</p>

{% include component/code.html lang='bash' content='sudo swapon /swapfile' %}

<p>Проверяем созданный файл подкачки.</p>

{% include component/code.html lang='bash' content='sudo swapon --show' %}

<figure>
  {% include component/picture.html slug=page.slug img='img-28.jpg' type='original' alt='Результат выполнения команды
  sudo swapon --show' %}
  <figcaption>Результат выполнения команды sudo swapon --show.</figcaption>
</figure>

<p>Добавим файл подкачки в файл монтирования различных устройств, чтобы при запуске системы файл подкачки тоже
  монтировался.</p>

{% include component/code.html lang='bash' content='echo \'/swapfile none swap defaults 0 0\' | sudo tee -a /etc/fstab' %}

<p>Проверим содержимое файла <b>/etc/fstab</b>, в самом низу должна присутствовать нами добавленная строка <b>/swapfile
  none swap defaults 0 0</b>.</p>

{% include component/code.html lang='bash' content='sudo cat /etc/fstab' %}

<figure>
  {% include component/picture.html slug=page.slug img='img-29.jpg' type='original' alt='Результат выполнения команды
  sudo cat /etc/fstab' %}
  <figcaption>Результат выполнения команды sudo cat /etc/fstab.</figcaption>
</figure>

<p>Далее необходимо получить <b>UUID</b> файла подкачки.</p>

{% include component/code.html lang='bash' content='findmnt -no UUID -T /swapfile' %}

<figure>
  {% include component/picture.html slug=page.slug img='img-30.jpg' type='original' alt='Результат выполнения команды
  findmnt -no UUID -T /swapfile' %}
  <figcaption>Результат выполнения команды findmnt -no UUID -T /swapfile.</figcaption>
</figure>

<p>Получаем параметр смещения.</p>

{% include component/code.html lang='bash' content='sudo filefrag -v /swapfile | awk \'{ if($1=="0:"){print $4} }\'' %}

<figure>
  {% include component/picture.html slug=page.slug img='img-31.jpg' type='original' alt='Результат выполнения команды
  sudo filefrag -v /swapfile | awk \'{ if($1=="0:"){print $4} }\'' %}
  <figcaption>Результат выполнения команды sudo filefrag -v /swapfile | awk \'{ if($1=="0:"){print $4} }\'.</figcaption>
</figure>

<p>Обновим параметры ядра дистрибутива, введя команду в терминале.</p>

{% include component/code.html lang='bash' content='sudo kernelstub -a "resume=UUID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx resume_offset=xxxxxxx"' %}

<p><b>где:</b><br>
  <b>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</b> - ваш UUID<br>
  <b>xxxxxxx</b> - ваш параметр смещения
</p>

<p>Добавим эти же параметры в конфигурационный файл.</p>

{% include component/code.html lang='bash' content='sudo gedit /etc/initramfs-tools/conf.d/resume' %}

<p>Откроется текстовый редактор в который нужно вставить строку, с вашими параметрами.</p>

{% include component/code.html lang='bash' content='resume=UUID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx resume_offset=xxxxxxx' %}

<p>Сохраняем конфигурационный файл и закрываем его.</p>

<p>Обновляем конфигурации системы.</p>

{% include component/code.html lang='bash' content='sudo update-initramfs -u' %}

<p>Перезагружаем компьютер.</p>

{% include component/code.html lang='bash' content='reboot' %}

<h3>Настройка гибернации</h3>

<p>И так мы настроили файл подкачки, а значит гибернация уже должна работать. Проверим ее, набрав в терминале команду.
  Компьютер должен выключиться, но при повторном включении вы должны обнаружить, что состояние рабочего окружение
  сохранилось.</p>

{% include component/code.html lang='bash' content='sudo systemctl hibernate' %}

<p>Каждый раз вводить эту команду не удобно, было бы проще если наравне с кнопкой <b>Выключение</b>, <b>Перезагрузка</b>,
  <b>Режим ожидания</b>, была бы кнопка <b>Гибернация</b>.</p>

<p>Чтобы это осуществить активируем расширение для дистрибутива <a
  href="https://extensions.gnome.org/extension/755/hibernate-status-button/" target="_blank" rel="nofollow">Hibernate
  Status Button</a> от <b>p91paul</b>.</p>

<p>В правом верхнем углу будет переключатель <b>Off</b>, изменим его в положение <b>On</b>, произойдет установка
  расширения в дистрибутив <b>Pop!_OS</b>.</p>

<p>Теперь нужно прописать определенные конфиги в файл.</p>

{% include component/code.html lang='bash' content='sudo gedit /etc/polkit-1/localauthority/10-vendor.d/com.ubuntu.desktop.pkla' %}

<p>Содержимое файла <b>com.ubuntu.desktop.pkla</b></p>

{% capture code %}
[Enable hibernate in upower]
Identity=unix-user:*
Action=org.freedesktop.upower.hibernate
ResultActive=yes

[Enable hibernate in logind]
Identity=unix-user:*
Action=org.freedesktop.login1.hibernate;org.freedesktop.login1.handle-hibernate-key;org.freedesktop.login1;org.freedesktop.login1.hibernate-multiple-sessions;org.freedesktop.login1.hibernate-ignore-inhibit
ResultActive=yes
{% endcapture %}

{% include component/code.html lang='bash' content=code %}

<p>Сохраняем файл и закрываем. Теперь нажмем в правом нижнем углу на список иконок, выберем пункт <b>Выключить/Выйти</b>.
  Мы должны увидеть, что добавилось два новых пункта <b>Спящий режим</b> и <b>Гибридный сон</b>. За <b>гибернацию</b>
  отвечает параметр <b>Спящий режим</b>.</p>

<p>При нажатии на этот пункт произойдет то же самое, что и при вводе команды <b>sudo systemctl hibernate</b>.</p>

<p>Готово мы настроили <b>файл подкачки</b> с <b>гибернацией</b>.</p>

<h2 id="all"><span class="attention">Вся</span> серия</h2>

{% include reference/linux-tutorial.html %}
