---
layout: post
title: 'Linux для начинающих с уклоном в веб разработку. Часть 1: Установка дистрибутива Pop!_OS'
date: 2023-08-22 20:00 +0600
description: 'В этой части речь пойдет об установке дистрибутива
<b>Pop!_OS</b>. Разберем почему именно этот дистрибутив, с какими сложностями можно столкнуться и как их решить и многое другое.'
image: cover.jpg
alt: Linux для начинающих - Часть 1
category: linux
tags: [linux, popos, gparted, rufus]
published: true
sitemap: true
excerpt_separator: "<!--more-->"
---

<p>В этой части речь пойдет об установке дистрибутива <b>Pop!_OS</b>, разберем почему именно этот дистрибутив, с какими
  сложностями можно столкнуться и как их решить и многое другое.</p>

<!--more-->

<h2><span class="attention">Оглавление</span> статьи</h2>

<ol>
  <li><a href="#intro">Вводная часть</a></li>
  <li><a href="#base">Подготовка к установке</a></li>
  <li><a href="#flash">Запуск Pop!_OS из загрузочной флешки</a></li>
  <li><a href="#install">Установка дистрибутива Pop!_OS</a></li>
  <li><a href="#all">Вся серия</a></li>
</ol>

<h2 id="intro"><span class="attention">Вводная</span> часть</h2>

<p>Серия статей о том как безболезненно перейти с операционной системы <b>Windows</b> на <b>Linux</b> дистрибутив <b>Pop!_OS</b>,
  для разработки веб приложений и повседневного использования в качестве основной операционной системы.</p>

{% include reference/linux-tutorial.html %}

<h3>Почему дистрибутив Pop!_OS</h3>

<p>Одной из главных причин выбрать <b>Pop!_OS</b> является низкий порог входа для новичков, современный графический
  интерфейс, оптимизация, производительность и поддержка со стороны производителя.</p>

<p>Дистрибутив поставляется с элегантной и интуитивно понятной средой рабочего стола, которая позволяет эффективно
  управлять задачами и приложениями. Внимательно спроектированный пользовательский интерфейс делает адаптацию к
  <b>Linux</b> гораздо более приятной и менее сложной.</p>

<p><b>Pop!_OS</b> интегрирует в себя набор инструментов для оптимизации и повышения производительности, что делает его
  идеальным выбором для разработчиков, геймеров и профессионалов в области IT. Особенно стоит выделить встроенную
  поддержку графических драйверов <b>NVIDIA</b>, что обеспечивает плавную работу и наилучший опыт игр на <b>Linux</b>.
</p>

<p>К тому же разработкой и поддержкой дистрибутива занимается <b>System76</b>, которая давно зарекомендовала себя как
  компания, разрабатывающая высококачественные настольные компьютеры и ноутбуки. А значит дистрибутив <b>Pop!_OS</b>
  постоянно развивается и поддерживается.</p>

<p>В целом не важно какой дистрибутив выбрать, главное начать и начнем мы с <b>Pop!_OS</b>.</p>

<h2 id="base"><span class="attention">Подготовка</span> к установке</h2>

<h3>Введение</h3>

<p>Перед началом данной затеи настоятельно хочу оградить вас от установки дистрибутива <b>Linux</b> рядом с операционной
  системой <b>Windows</b>, чтобы не
  <a href="https://www.linux.org.ru/forum/general/7539015" target="_blank" rel="nofollow">потерять данные</a>.</p>

<p>Я столкнулся с этой проблемой лишь спустя год совместного использования двух операционных систем на одном компьютере.
  Большую часть данных удалось восстановить, но некоторые данные безвозвратно были утрачены.</p>

<p>Если вы еще не готовы полностью перейти на дистрибутив <b>Linux</b>, то рассмотрите вариант с установкой на
  виртуальную машину. Либо если у вас есть в наличии второй компьютер то на него.</p>

<p>Сам я использую операционную систему <b>Windows</b> на стационарном компьютере, а дистрибутив <b>Pop!_OS</b> на
  ноутбуке.</p>

<h3>Скачивание образа Pop!_OS</h3>

<p>Перейдем на <a href="https://pop.system76.com/" target="_blank" rel="nofollow">официальный сайт</a> дистрибутива <b>Pop!_OS</b>.
  В правом верхнем углу нажмем на кнопку <kbd>Download</kbd>. Появится модальное окно в котором предложат скачать
  подходящий для нас образ:</p>

<ul>
  <li>Download 22.04 LTS</li>
  <li>Download 22.04 LTS (NVIDIA)</li>
  <li>Download 22.04 (RAS PI 4)</li>
</ul>

<p>Если в компьютере не установлена видеокарта от <b>NVIDIA</b>, то скачиваем первый вариант <b>Download 22.04 LTS</b>
  иначе скачиваем второй вариант <b>Download 22.04 LTS (NVIDIA)</b>. Третий вариант нас не интересует его пропускаем.
</p>

<h3>Скачивание программы Rufus</h3>

<p>Программа <b>Rufus</b> позволит создать загрузочную флешку. Перейдем на <a href="https://rufus.ie/en/" target="_blank" rel="nofollow">официальный
  сайт</a> программы <b>Rufus</b>. Прокрутим страницу ниже до раздела <b>Download</b> и скачиваем актуальную версию. На
  момент написания статьи это <b>версия rufus-4.2.exe</b>.</p>

<h3>Запись образа на флешку</h3>

<p>На этом этапе у нас должна быть подготовлена флешка на <b>4Гб памяти</b>, скачан образ дистрибутива <b>Pop!_OS</b> и
  скачена программа <b>Rufus</b>.</p>

<p><b class="attention">Внимание!!!</b> Обратите внимание на то, что все данные с флешку будут стерты. Позаботьтесь
  заранее о переносе, находящихся в ней данных.</p>

<p>Вставим флешку в компьютер и запустим программу <b>Rufus</b>. В верхнем выпадающем меню выберем флешку на которую
  будет записан дистрибутив.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-1.jpg' type='original' alt='Выбор флешки в программе Rufus'
  %}
  <figcaption>В верхнем выпадающем меню выберем флешку на которую будет записан дистрибутив.</figcaption>
</figure>

<p>Нажмем на кнопку <b>Выбрать</b> для выбора образа дистрибутива и укажем путь до дистрибутива.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-2.jpg' type='original' alt='Указываем путь до образа с
  дистрибутивом Pop!_OS' %}
  <figcaption>Нажмем на кнопку <b>Выбрать</b> для выбора образа дистрибутива и укажем путь до дистрибутива.</figcaption>
</figure>

<p>Теперь можно приступить к записи образа на флешку. Нажимаем на кнопку <kbd>Старт</kbd>, соглашаемся с уведомлением о
  том, что все данные с флешки будут удалены и ждем окончания записи. Примерное время записи 7-15 минут.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-3.jpg' type='original' alt='Запись на флешку' %}
  <figcaption>Приступаем к записи на флешку.</figcaption>
</figure>

<h2 id="flash"><span class="attention">Запуск</span> Pop!_OS из загрузочной флешки</h2>

<h3>Загрузка из под флешки</h3>

<p>Вставляем флешку в то устройство на которое мы собираемся установить дистрибутив. Напоминаю мы договорились, что не
  будем устанавливать дистрибутив рядом с операционной системой <b>Windows</b>.</p>

<p><b class="attention">Внимание!!!</b> Обратите внимание на то, что все данные с жесткого диска будут стерты.
  Позаботьтесь заранее о переносе, находящихся в нем данных.</p>

<p>Включаем компьютер если он был выключен или перезагружаем его. Необходимо, чтобы загрузка системы произошла из
  флешки. Для этого нажимаем многократно на клавишу <kbd>F12</kbd>. Должен появиться список устройств, в этом списке
  необходимо выбрать флешку с образом дистрибутива.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-4.jpg' type='original' alt='Выбор флешки с образом
  дистрибутива' %}
  <figcaption>В этом списке необходимо выбрать флешку с образом дистрибутива.</figcaption>
</figure>

<p>Если многократное нажатие клавиши <kbd>F12</kbd> ни к чему не привело необходимо настроить <b>BIOS</b> так, чтобы
  первым устройством в очереди дисков был флеш накопитель.</p>

<p>Чтобы перейти в <b>BIOS</b> нужно так же при первоначальной загрузки компьютера многократно нажимать на клавишу <kbd>F2</kbd>
  или <kbd>Del</kbd>.</p>

<p>Перейдем в раздел <b>Boot</b>, где содержится список устройств. Нажмем по первой позиции в этом списке и заменим
  пункт на название нашей флешки. Нажмем клавишу <kbd>F10</kbd>, чтобы сохранить изменения и выйти из <b>BIOS</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-5.jpg' type='original' alt='Расположение раздела со списком
  устройств в BIOS' %}
  <figcaption>Примерное расположение раздела со списком устройств в <b>BIOS</b>.</figcaption>
</figure>

<p>Так как настройки <b>BIOS</b> варьируется от устройства к устройству, то поищите в интернете как это можно сделать
  конкретно для вашей материнской платы.</p>

<p>Примерный запрос в поисковике может выглядеть так: <b>bios boot usb for asus b250</b>.</p>

<h3>Разметка жесткого диска Gparted</h3>

<p>Следующий шагом после загрузки системы из загрузочной флешки будет разметка жесткого диска в программе <b>Gparted</b>.
  Нажмем клавишу <kbd>Windows</kbd> и введем в поле поиска слово <b>gparted</b>, откроем найденную программу.</p>

<p>В правом верхнем углу представлен выпадающий список, подключенных жестких дисков и флеш накопителей. Выбирая каждый
  из них по отдельности будет меняться основное содержимое, отображающее размеченные области.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-6.jpg' type='original' alt='Список подключенных жестких
  дисков и их разметка' %}
  <figcaption>В правом верхнем углу представлен выпадающий список, подключенных жестких дисков и флеш накопителей.
  </figcaption>
</figure>

<p>В моем случае у меня два жестких диска и один флеш накопитель, который является загрузочной флешкой с
  дистрибутивом.</p>

<ul>
  <li>/dev/nvmen0n1 (512Гб)</li>
  <li>/dev/sda (1Тб)</li>
  <li>/dev/sdb</li>
</ul>

<p>Диск <b>/dev/nvmen0n1</b> я буду использовать в качестве диска <b>С</b>, по аналогии с Windows.<br>
  Диск <b>/dev/sda</b> я буду использовать в качестве диска <b>D</b>.<br>
  Флеш накопитель <b>/dev/sdb</b> пропускаем, он нужен нам чтобы установить дистрибутив.</p>

<p>Хотя в Linux системах нет разделения на диск <b>C</b>, <b>D</b> я умышленно провел аналогию, чтобы было понятнее.</p>

<p>Все разделы диска за исключением некоторых, которые мы рассмотрим позже должны иметь файловую систему <b>ext4</b>.
  Так как у вас скорей всего разделы будут с файловой системой <b>ntfs</b>, необходимо будет удалить их и снова
  разметить.</p>

<p><b class="attention">Внимание!!!</b> Напоминаю, что все данные с жесткого диска будут удалены. Позаботьтесь заранее о
  переносе, находящихся в нем данных.</p>

<p>Так как я уже использовал диск <b>/dev/sda</b> в качестве диска <b>D</b>, в дистрибутиве ранее, то он у меня уже
  размечен и имеет файловую систему <b>ext4</b>. Более того он содержит файлы которые мне не хотелось бы удалить.
  Поэтому его я пропускаю и оставляю как есть.</p>

<p>Вам же необходимо будет его переразметить, если у вас так же как у меня два диска. Если у вас один жесткий диск,
  ничего страшного далее вы увидите как можно разметить один жесткий диск на два раздела, под диск <b>С</b> и <b>D</b>.
</p>

<p>Переключимся на основной диск <b>C</b>, в моем случаем это <b>/dev/nvmen0n1</b>. Удалим каждый имеющийся раздел,
  выбранного жесткого диска, нажав на раздел правой кнопкой мыши и выбрав пункт <b>Delete</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-7.jpg' type='original' alt='Удаление размеченных областей
  жесткого диска.' %}
  <figcaption>Удалим каждый имеющийся раздел, выбранного жесткого диска, нажав на раздел правой кнопкой мыши и выбрав
    пункт <b>Delete</b>.
  </figcaption>
</figure>

<p>Теперь у меня не размеченной области на <b>476Гб</b>, которые я могу распределить по своему усмотрению. Нажимаем на
  неразмеченную область правой кнопкой мыши и выбираем пункт <b>New</b>.</p>

<p><b>И так нам понадобятся следующие разделы:</b></p>

<ul>
  <li>1024Мб fat32 <b>boot</b> - для загрузки <b>efi bios</b></li>
  <li>4096Мб fat32 <b>recovery</b> - для восстановления системы</li>
  <li>раньше так же создавался <b>swap</b> раздел для файла подкачки, но мы пойдем другим путем который на мой взгляд
    лучше и позволит в дальнейшем настроить гибернацию, поэтому создание <b>swap</b> раздела мы пропускаем
  </li>
  <li>30000Мб ext4 <b>root</b> - 30Гб минимальный объем для диска <b>С</b>, под систему дистрибутива. В своем примере я
    сделаю больше, вы же смотрите сами какими ресурсами располагаете
  </li>
  <li>если у вас нет второго жесткого диска, то самое время разметить, оставшуюся не размеченную область для диска
    <b>D</b>, обычно отдают все неразмеченное пространство, например: 100000Мб ext4 <b>home</b></li>
</ul>

<p>Скриншотами я покажу свою разметку жесткого диска, по приведенному примеру вы размечаете свой жесткий диск.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-8.jpg' type='original' alt='Разметка жесткого диска' %}
  <figcaption>Скриншотами я покажу свою разметку жесткого диска.</figcaption>
</figure>

<p>Внимательно еще раз проверьте тот ли жесткий диск вы разметили и все ли нужные вам разделы добавили. Теперь нажимаем
  на <b>зеленую галочку</b> для применения изменений в разметке диска, соглашаемся с уведомлением и ждем когда
  завершится разметка жесткого диска.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-9.jpg' type='original' alt='Применение изменений в разметке
  жесткого диска' %}
  <figcaption>Теперь нажимаем на <b>зеленую галочку</b> для применения изменений в разметке диска,<br> соглашаемся с
    уведомлением и ждем когда завершится разметка жесткого диска.
  </figcaption>
</figure>

<p>Отметим <b>boot</b> раздел как загрузочный. Для этого нажимаем по нему правой кнопкой мыши и выбираем пункт <b>Manage
  Flags</b>, отмечаем пункт <b>boot</b> и нажимаем кнопку <b>Close</b>. Мы успешно разметили жесткий диск, закрываем
  программу <b>Gparted</b>.</p>

<h2 id="install"><span class="attention">Установка</span> дистрибутива Pop!_OS</h2>

<p>Выбираем язык на котором будет наша операционная система <b>Pop!_OS</b>, я выберу <b>русский</b>, <b>Российская
  Федерация</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-10.jpg' type='original' alt='Выбираем язык для дистрибутива'
  %}
  <figcaption>Выбираем язык для дистрибутива <b>Pop!_OS</b>, я выберу <b>русский</b>, <b>Российская Федерация</b>.
  </figcaption>
</figure>

<p>Далее нужно выбрать язык клавиатуры, здесь советую выбрать <b>английскую раскладку</b> для удобства ввода данных,
  позже мы добавим <b>русскую раскладку</b> клавиатуры отдельно. И так прокрутим ползунок вверх и выберем пункт <b>Английская
    (США), Default</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-11.jpg' type='original' alt='Выбираем язык для раскладки
  клавиатуры' %}
  <figcaption>Выберем пункт <b>Английская (США), Default</b>.</figcaption>
</figure>

<p>Следующее окно предоставит два вида установки дистрибутива: автоматическую и ручную. Выбираем ручной режим <b>Custom
  (Advanced)</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-12.jpg' type='original' alt='Два вида установки дистрибутива
  автоматическую и ручную' %}
  <figcaption>Выбираем ручной режим <b>Custom (Advanced)</b>.</figcaption>
</figure>

<p>В следующем окне мы увидим, размеченные раннее в программе <b>Gparted</b> области, для каждого жесткого диска. У меня
  их два поэтому можно наблюдать такую картину.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-13.jpg' type='original' alt='Назначаем размеченным разделам
  каталоги' %}
  <figcaption>У меня их два поэтому можно наблюдать такую картину.</figcaption>
</figure>

<p>Теперь нужно для каждой размеченной области задать настройки для этого нажимаем на каждую размеченную секцию и
  отмечаем пункт <b>Use partition</b>.</p>

<p>Далее если нужно отформатировать этот раздел то отмечаем пункт <b>Format</b> <span class="attention">(все данные удалятся!!!)</span>
  иначе оставляем как есть не активным.</p>

<p>Следующий пункт <b>Use as</b> предлагает на выбор несколько вариантов:</p>

<ul>
  <li><b>Root (/)</b> - для диска С</li>
  <li><b>Home (/home)</b> - для диска D</li>
  <li><b>Boot (/boot/efi)</b> - для загрузки efi bios</li>
  <li><b>Swap</b> - для файла подкачки, который мы пропустили при разметке</li>
  <li><b>Custom</b> - для других пользовательских разделов</li>
</ul>

<p>И последний пункт <b>Filesystem</b> где для разделов с диском <b>C</b>, <b>D</b> должен быть выбран пункт <b>ext4</b>,
  а для разделов <b>boot</b> и <b>recovery</b> должен быть выбран пункт <b>fat32</b>.</p>

<p>И так когда мы знаем за что каждый пункт отвечаем, можем приступить к настройке каждого размеченного раздела.</p>

<p>Я начну с верхнего диска <b>ATA WDC WD10SPZX-24Z</b>, раздел <b>home</b>, который отвечает за диск <b>D</b>, нажму на
  <b>зеленую область</b> и проставлю ему следующие значения.</p>

<ul>
  <li><b>Use partition</b>: On</li>
  <li><b>Format</b>: Off</li>
  <li><b>Use as</b>: Home(/home)</li>
  <li><b>Filesystem</b>: Default(ext4)</li>
</ul>

<figure>
  {% include component/picture.html slug=page.slug img='img-14.jpg' type='original' alt='Настройка диска D' %}
  <figcaption>Нажму на <b>зеленую область</b> и проставлю ему следующие значения.</figcaption>
</figure>

<p>Далее в порядке очередности идет диск <b>ADATA SX8200PNP</b>, раздел <b>boot</b>. Нажимаю на первую <b>желтую
  область</b> и проставлю ей следующие значения.</p>

<ul>
  <li><b>Use partition</b>: On</li>
  <li><b>Format</b>: On</li>
  <li><b>Use as</b>: Home(/boot/efi)</li>
  <li><b>Filesystem</b>: fat32</li>
</ul>

<figure>
  {% include component/picture.html slug=page.slug img='img-15.jpg' type='original' alt='Настройка диска C, boot раздел'
  %}
  <figcaption>Нажимаю на первую желтую область и проставлю ей следующие значения.</figcaption>
</figure>

<p>Далее идет раздел <b>recovery</b>. Нажимаю на вторую желтую область и проставлю ей следующие значения. Обратите
  внимание, что в поле <b>Custom</b> мы вводим вручную название каталога, <b>косая черта (/recovery) обязательна</b>.
</p>

<ul>
  <li><b>Use partition</b>: On</li>
  <li><b>Format</b>: On</li>
  <li><b>Use as</b>: Custom</li>
  <li><b>Custom</b>: /recovery</li>
  <li><b>Filesystem</b>: fat32</li>
</ul>

<figure>
  {% include component/picture.html slug=page.slug img='img-16.jpg' type='original' alt='Настройка диска C, recovery
  раздел' %}
  <figcaption>Нажимаю на вторую желтую область и проставлю ей следующие значения.</figcaption>
</figure>

<p>Последний в моем случае раздел <b>root</b>, входящий в диск <b>C</b>. Нажимаю на третью зеленую область и проставлю
  ей следующие значения.</p>

<ul>
  <li><b>Use partition</b>: On</li>
  <li><b>Format</b>: On</li>
  <li><b>Use as</b>: Root(/)</li>
  <li><b>Filesystem</b>: ext4</li>
</ul>

<figure>
  {% include component/picture.html slug=page.slug img='img-17.jpg' type='original' alt='Настройка диска C, root раздел'
  %}
  <figcaption>Нажимаю на третью зеленую область и проставлю ей следующие значения.</figcaption>
</figure>

<p>Еще раз проверьте каждую область не допустили ли вы ошибку, тут самое важное в моем случае не затереть диск <b>D</b>
  с данными, для этого я проверяю чтобы чекбокс с пункта <b>Format</b> для данного раздела был снят.</p>

<p>Если все верно нажимаем на кнопку <b>Erase and Install</b>.</p>

<p>Вводим данные своей учетной записи, указываем пароль.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-18.jpg' type='original' alt='Вводим логин и пароль.' %}
  <figcaption>Вводим данные своей учетной записи, указываем пароль.</figcaption>
</figure>

<p>Дождемся установки дистрибутива <b>Pop!_OS</b>.</p>

<figure>
  {% include component/picture.html slug=page.slug img='img-19.jpg' type='original' alt='Установка дистрибутива Pop!_OS
  завершена' %}
  <figcaption>Дождемся установки дистрибутива <b>Pop!_OS</b>.</figcaption>
</figure>

<p>Поздравляю, вы успешно установили дистрибутив <b>Pop!_OS</b>. Перезагружаем компьютер, нажав на кнопку <b>Restart
  Device</b>.</p>

<h2 id="all"><span class="attention">Вся</span> серия</h2>

{% include reference/linux-tutorial.html %}
