<footer class="main-footer main-section" id="contacts">
  <div class="main-footer__container container">
    <div class="main-footer__wrap main-section__wrap">
      <div class="main-footer__copyright">©2024 Sergio Eliofery</div>
      <div class="main-footer__content main-section__content">
        <div class="main-footer__email">Контакты: <a href="#">some@email.domen</a></div>
        <ul class="main-footer__social social">
          <li class="social__item">
            <a class="social__link" href="https://github.com/eliofery" target="_blank" rel="nofollow" aria-label="Профиль Github">
              {% include component/icon.html class="social__icon" width="20" height="20" icon="icon-github" %}
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" target="_blank" rel="nofollow" aria-label="Профиль Linkedin">
              {% include component/icon.html class="social__icon" width="20" height="20" icon="icon-linkedin" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
