<footer class="main-footer main-section" id="contacts">
  <div class="main-footer__container container">
    <div class="main-footer__wrap main-section__wrap">
      <div class="main-footer__copyright">©2023 Sergio Eliofery</div>
      <div class="main-footer__content main-section__content">
        <div class="main-footer__email">Контакты: <a href="#">some@email.domen</a></div>
        <ul class="main-footer__social social">
          <li class="social__item"><a class="social__link" href="#" aria-label="Профиль Github">
            <svg class="icon icon-github social__icon" width="20" height="20" aria-hidden="true">
              <use xlink:href="#icon-github"></use>
            </svg>
          </a>
          </li>
          <li class="social__item"><a class="social__link" href="#" aria-label="Профиль Linkedin">
            <svg class="icon icon-linkedin social__icon" width="20" height="20" aria-hidden="true">
              <use xlink:href="#icon-linkedin"></use>
            </svg>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
