---
layout: default
---

{% contentfor header %}
  {% include section/header.html nav=site.data.main-nav-inner.items %}
{% endcontentfor %}

{% contentfor content %}
  <section class="inner-category main-section">
  <div class="inner-category__container container">
    <div class="inner-category__wrap main-section__wrap">
      <h2 class="inner-category__title main-section__title title"><span>{{ page.title }}</span></h2>
      <div class="inner-category__content">
        {% if paginator.posts[0] %}
        <ul class="inner-category__list">
          {% for post in paginator.posts %}
          <li class="inner-category__item">
            <article class="inner-category__card card-article">
              <a class="card-article__link" href="{{ post.url }}">
                <div class="card-article__img">
                  {% include component/picture.html slug=post.slug img=post.image type='thumbnail' alt=post.alt %}
                </div>
                <footer class="card-article__meta">
                  <time class="card-article__date" datetime="{{ post.date | date: " %Y-%m-%dT%H:%M
                  " }}">{{ post.date | date: '%d.%m.%Y' }}</time>
                  <span class="card-article__read">
                    {% include component/word-length.html content=post.content %}
                  </span>
                </footer>
                <h3 class="card-article__title">{{ post.title | markdownify | strip_html | truncatewords: 5 }}</h3>
                <div class="card-article__desc">{{ post.description | default: post.excerpt | markdownify | strip_html |
                  truncatewords: 30 }}
                </div>
              </a>
            </article>
          </li>
          {% endfor %}
        </ul>

        {% if paginator.page_trail %}
        <ol class="inner-category__pagination page-pagination">
          {% if paginator.previous_page %}
          <li class="page-pagination__item page-pagination__item--prev">
            <a class="page-pagination__link" href="{{ paginator.previous_page_path }}" aria-label="Предыдущее">
              <svg class="icon icon-arrow-left page-pagination__icon" width="25" height="25" aria-hidden="true">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </a>
          </li>
          {% endif %}

          {% for trail in paginator.page_trail %}
          {% if page.url == trail.path %}
          {% assign active = 'page-pagination__item--active' %}
          {% else %}
          {% assign active = '' %}
          {% endif %}
          <li class="page-pagination__item {{ active }}">
            <a class="page-pagination__link" href="{{ trail.path | remove: 'index.html' }}">{{ trail.num }}</a>
          </li>
          {% endfor %}

          {% if paginator.next_page %}
          <li class="page-pagination__item page-pagination__item--next">
            <a class="page-pagination__link" href="{{ paginator.next_page_path }}" aria-label="Следующее">
              <svg class="icon icon-arrow-right page-pagination__icon" width="25" height="25" aria-hidden="true">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </a>
          </li>
          {% endif %}
        </ol>
        {% endif %}
        {% else %}
        <p>Записей нет</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

  {% include component/shape-decoration.html %}
{% endcontentfor %}

{% contentfor script %}
  <script src="{{ '/assets/js/main.js?v=' | relative_url }}{{ site.version }}" type="module"></script>
{% endcontentfor %}
