<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: 'ru' }}">
<head>
  {% include base/head.html %}
</head>
<body>

{% include base/body-parts.html %}

<div class="layout">
  {% include section/header.html %}

  <main class="layout__main">
    {{ content }}
  </main>

  {% include section/footer.html %}
</div>

{% include section/search-modal.html %}

<script src="{{ '/assets/js/main.js?v=' | relative_url }}{{ site.version }}" type="module"></script>

</body>
</html>
