---
layout: inner
---

{% assign separator_size = '<!--more-->' | size %}
{% assign size_excerpt = page.excerpt | size | plus: separator_size %}
{% assign size_content = page.content | size %}

<article class="main-article">
  <header class="main-article__header">
    <div class="main-article__header-container container">
      <h1 class="main-article__title">
        {% assign first_word = page.title | split: ' ' | first %}
        {% assign size_first_word = first_word | size %}
        {% assign size_page_title = page.title | size %}
        <span class="main-article__title-accent">{{ first_word }}</span> {{ page.title | slice: size_first_word, size_page_title }}
      </h1>
      <div class="main-article__desc">
        {{ page.description | default: page.excerpt }}
      </div>
      <dl class="main-article__info">
        {% if page.work-year %}
        <dt class="main-article__info-title">Год выпуска:</dt>
        <dd class="main-article__info-desc">{{ page.work-year }}</dd>
        {% endif %}
        <dt class="main-article__info-title">Время чтения:</dt>
        <dd class="main-article__info-desc">
          {% include component/word-length.html content=page.content %}
        </dd>
        {% if page.roles %}
        <dt class="main-article__info-title">Роль:</dt>
        <dd class="main-article__info-desc">
          <ul class="main-article__info-list">
            {% for role in page.roles %}
            <li class="main-article__info-item">{{ role }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if page.tags %}
        <dt class="main-article__info-title">Технологии:</dt>
        <dd class="main-article__info-desc">
          <ul class="main-article__info-list">
            {% for tag in page.tags %}
            <li class="main-article__info-item">{{ tag }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if page.source %}
        <dt class="main-article__info-title">Источник:</dt>
        <dd class="main-article__info-desc"><a href="{{ page.source }}" target="_blank" rel="nofollow">ссылка на проект</a></dd>
        {% endif %}
      </dl>
      {% include component/share.html class="main-article__share" %}
    </div>
  </header>

  <div class="container">
    <div class="main-article__content">
      {{ page.content | slice: size_excerpt, size_content }}
    </div>

    {% if page.previous.url or page.next.url %}
    <div class="main-article__pagination">
      {% if page.previous.url %}
      <a class="main-article__pagination-prev" href="{{ page.previous.url }}">
        <span class="main-article__pagination-label">Предыдущая работа</span>
        <span class="main-article__pagination-title">{{page.previous.title}}</span>
      </a>
      {% endif %}

      {% if page.next.url %}
      <a class="main-article__pagination-next" href="{{ page.next.url }}">
        <span class="main-article__pagination-label">Следующая работа</span>
        <span class="main-article__pagination-title">{{page.next.title}}</span>
      </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</article>
